# 空间网络模型与查询

In [1]:
%load_ext sql

d:\python27\lib\site-packages\IPython\config.py:13: ShimWarning: The `IPython.config` package has been deprecated. You should import from traitlets.config instead.
  "You should import from traitlets.config instead.", ShimWarning)
d:\python27\lib\site-packages\IPython\utils\traitlets.py:5: UserWarning: IPython.utils.traitlets has moved to a top-level traitlets package.
  warn("IPython.utils.traitlets has moved to a top-level traitlets package.")

In [2]:
%%sql postgresql://postgres:postgres@localhost:5432/Ex4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET client_encoding = 'utf-8';
SET standard_conforming_strings = on;
SET check_function_bodies = false;
SET client_min_messages = warning;

Done.
Done.
Done.
Done.
Done.
Done.

[]

## 网络连通性查询

网络连通性查询可以使用SQL3标准中的With Recursive语句实现，PostgreSQL数据库实现了<a href = 'http://www.postgresql.org/docs/current/static/queries-with.html' target="_blank">With Recursive</a>语句。递归查询实现方式如下：

* Evaluate the non-recursive term. For UNION (but not UNION ALL), discard duplicate rows. Include all remaining rows in the result of the recursive query, and also place them in a temporary *working* table.

* So long as the working table is not empty, repeat these steps:

    * Evaluate the recursive term, substituting the current contents of the working table for the recursive self-reference. For UNION (but not UNION ALL), discard duplicate rows and rows that duplicate any previous result row. Include all remaining rows in the result of the recursive query, and also place them in a temporary *intermediate* table.

    * Replace the contents of the working table with the contents of the intermediate table, then empty the intermediate table.
    
举例来说，生成1-100整数的with recursive语句如下：

In [3]:
%%sql 
with recursive t(n) AS ( 
         values (1) 
     union all
         select n + 1 from t where n < 100 
)

SELECT * FROM t;

100 rows affected.

[(1,),
 (2,),
 (3,),
 (4,),
 (5,),
 (6,),
 (7,),
 (8,),
 (9,),
 (10,),
 (11,),
 (12,),
 (13,),
 (14,),
 (15,),
 (16,),
 (17,),
 (18,),
 (19,),
 (20,),
 (21,),
 (22,),
 (23,),
 (24,),
 (25,),
 (26,),
 (27,),
 (28,),
 (29,),
 (30,),
 (31,),
 (32,),
 (33,),
 (34,),
 (35,),
 (36,),
 (37,),
 (38,),
 (39,),
 (40,),
 (41,),
 (42,),
 (43,),
 (44,),
 (45,),
 (46,),
 (47,),
 (48,),
 (49,),
 (50,),
 (51,),
 (52,),
 (53,),
 (54,),
 (55,),
 (56,),
 (57,),
 (58,),
 (59,),
 (60,),
 (61,),
 (62,),
 (63,),
 (64,),
 (65,),
 (66,),
 (67,),
 (68,),
 (69,),
 (70,),
 (71,),
 (72,),
 (73,),
 (74,),
 (75,),
 (76,),
 (77,),
 (78,),
 (79,),
 (80,),
 (81,),
 (82,),
 (83,),
 (84,),
 (85,),
 (86,),
 (87,),
 (88,),
 (89,),
 (90,),
 (91,),
 (92,),
 (93,),
 (94,),
 (95,),
 (96,),
 (97,),
 (98,),
 (99,),
 (100,)]

根据递归查询实现方式，上述with recursive语句的实现方式如下：
* 执行values(1)，表t包含元组(1)，同时表working包含元组(1)
* 重复如下步骤，直到表working为空
    * 执行select n + 1 from working where n < 100，由于表working包含元组(1)，生成表intermediate包含元组(2)，表t包含元组(1)(2)
    * 表working包含元组(2)，表intermediate为空表
    * 执行select n + 1 from working where n < 100，由于表working包含元组(2)，生成表intermediate包含元组(3)，表t包含元组(1)(2)(3)
    * 表working包含元组(3)，表intermediate为空表
    * ......
    * 执行select n + 1 from working where n < 100，由于表working包含元组(99)，生成表intermediate包含元组(100)，表t包含元组(1)(2)(3)......(100)
    * 表working包含元组(100)，表intermediate为空表
    * 执行select n + 1 from working where n < 100，由于表working包含元组(100)，生成表intermediate为空集，表t元组不变
    * 表working为空集，表intermediate为空表
    * 不满足循环条件，推出

### 图的遍历
首先创建如下无向图：
<img src = 'Figure 4-1.jpg'/>

In [4]:
%%sql 
    drop table if exists edges;
    create table edges(
     start varchar,
     _end   varchar);
    insert into edges values('A', 'B');
    insert into edges values('A', 'C');
    insert into edges values('B', 'A');
    insert into edges values('B', 'C');
    insert into edges values('C', 'A');
    insert into edges values('C', 'B');

Done.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

从节点A开始遍历无向图，查询访问的节点和深度，即遍历多少次访问到该节点，限制访问深度为3。

注意：如果去掉depth < 3，下面with recursive语句会无限次访问节点A，B和C，导致死循环。

In [5]:
%%sql 
WITH recursive X(node, depth) AS (
        select start, 0 from edges where start = 'A'
      UNION 
        select _end, depth + 1 from edges, X
        where start = node and depth < 3)

select * from X;

9 rows affected.

[(u'A', 0),
 (u'B', 1),
 (u'C', 1),
 (u'A', 2),
 (u'C', 2),
 (u'B', 2),
 (u'B', 3),
 (u'C', 3),
 (u'A', 3)]

将UNION改成UNION ALL，不去除重复项，注意查询结果的差异。

In [6]:
%%sql 
WITH recursive X(node, depth) AS (
        select start, 0 from edges where start = 'A'
      UNION ALL
        select _end, depth + 1 from edges, X
        where start = node and depth < 3)
select * from X;

30 rows affected.

[(u'A', 0),
 (u'A', 0),
 (u'B', 1),
 (u'B', 1),
 (u'C', 1),
 (u'C', 1),
 (u'A', 2),
 (u'A', 2),
 (u'C', 2),
 (u'C', 2),
 (u'A', 2),
 (u'A', 2),
 (u'B', 2),
 (u'B', 2),
 (u'B', 3),
 (u'B', 3),
 (u'B', 3),
 (u'B', 3),
 (u'C', 3),
 (u'C', 3),
 (u'C', 3),
 (u'C', 3),
 (u'A', 3),
 (u'A', 3),
 (u'C', 3),
 (u'C', 3),
 (u'A', 3),
 (u'A', 3),
 (u'B', 3),
 (u'B', 3)]

为了避免重复访问节点，可以记录每次访问该节点的访问路径，如果当前访问的节点已在访问路径中，则说明出现重复访问，无需继续访问。
* array是PostgreSQL的数组类型，array[start]表示一个包含start的数组
* 数组使用||增加新元素，如path || \_end
* 使用any判断某个元素是否在数组中，如\_end = any(path)

In [7]:
%%sql
WITH recursive X(node, depth, path, circle) as (
       select start, 0, array[start], false from edges where start = 'A'
     UNION
       select _end, depth + 1, path || _end, _end = any(path) 
       from edges, X 
       where start = node and not circle)

select * from  X;

11 rows affected.

[(u'A', 0, [u'A'], False),
 (u'B', 1, [u'A', u'B'], False),
 (u'C', 1, [u'A', u'C'], False),
 (u'A', 2, [u'A', u'B', u'A'], True),
 (u'C', 2, [u'A', u'B', u'C'], False),
 (u'A', 2, [u'A', u'C', u'A'], True),
 (u'B', 2, [u'A', u'C', u'B'], False),
 (u'A', 3, [u'A', u'C', u'B', u'A'], True),
 (u'C', 3, [u'A', u'C', u'B', u'C'], True),
 (u'A', 3, [u'A', u'B', u'C', u'A'], True),
 (u'B', 3, [u'A', u'B', u'C', u'B'], True)]

Find all the direct and indirect sub-parts of a product, given only a table that shows immediate inclusions: parts(part, sub_part, quantity)

In [8]:
%%sql
    drop table if exists parts;
    create table parts (
      part varchar,
      sub_part  varchar,
      quantity int4
    );
    insert into parts values ('汽车', '轮子', 4);
    insert into parts values ('汽车', '轮子', 6);
    insert into parts values ('轮子', '螺丝', 6);
    insert into parts values ('汽车', '座位', 5);
    insert into parts values ('座位', '安全带', 1);
    select * from parts;

Done.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
5 rows affected.

[(u'\u6c7d\u8f66', u'\u8f6e\u5b50', 4),
 (u'\u6c7d\u8f66', u'\u8f6e\u5b50', 6),
 (u'\u8f6e\u5b50', u'\u87ba\u4e1d', 6),
 (u'\u6c7d\u8f66', u'\u5ea7\u4f4d', 5),
 (u'\u5ea7\u4f4d', u'\u5b89\u5168\u5e26', 1)]

with recursive在PostgreSQL帮助文档中给出的语句如下，如何修改该语句，实现Find all the direct and indirect sub-parts of a product

In [9]:
%%sql
with recursive included_parts(sub_part, part, quantity) AS ( 
      select sub_part, part, quantity from parts WHERE part = '汽车'
    union all 
      select p.sub_part, p.part, pr.quantity*p.quantity as quantity
      from included_parts pr, parts p 
      where p.part = pr.sub_part 
)

select sub_part, sum(quantity) as total_quantity
from included_parts 
group by sub_part;

4 rows affected.

[(u'\u87ba\u4e1d', 60L),
 (u'\u5b89\u5168\u5e26', 5L),
 (u'\u8f6e\u5b50', 10L),
 (u'\u5ea7\u4f4d', 5L)]

创建如下有向图：
<img src = 'Figure 4-2.jpg'/>

In [10]:
%%sql
    drop table if exists edges;
    create table edges (
     id serial,
     source int4,
     target int4,
     weight float8);
    
    insert into edges(source, target, weight) values(0, 4, 6), (1, 0, 9), (1, 2, 3), (2, 0, 2), (2, 3, 5), (3, 4, 1);
    
    select * from edges;

Done.
Done.
6 rows affected.
6 rows affected.

[(1, 0, 4, 6.0),
 (2, 1, 0, 9.0),
 (3, 1, 2, 3.0),
 (4, 2, 0, 2.0),
 (5, 2, 3, 5.0),
 (6, 3, 4, 1.0)]

使用with recursive查询从节点$v_{2}$能够访问到的节点

In [11]:
%%sql
WITH recursive X(node, depth, path, circle) as (
       select source, 0, array[source], false from edges where source = 2
     UNION
       select target, depth + 1, path || target, target = any(path) 
       from edges, X 
       where source = node and not circle)

select * from X;

5 rows affected.

[(2, 0, [2], False),
 (0, 1, [2, 0], False),
 (3, 1, [2, 3], False),
 (4, 2, [2, 0, 4], False),
 (4, 2, [2, 3, 4], False)]

查询从$v_{1}$到$v_{4}$的最短路径，遍历所有可能的路径，再选择最短的路径 **（课堂检查1）**

In [12]:
%%sql
with recursive X(node,depth,path,circle,length) as 
(
	select source,0,array[source],false,float8(0)
	from edges
	where source=1
union 
	select target,depth+1,target||path,target=any(path),X.length+edges.weight
	from edges,X
	where source=node and not circle
)
select min(length)
from X
where node=4;

1 rows affected.

[(9.0,)]

## 网络最短路径查询

使用pgrouting扩展实现最短路径查询，在数据库Ex4增加postgis和pgrouting扩展（create extension postgis和create extension pgrouting）。

**注意：pgRouting 2.1函数定义与pgRouting 2.0函数定义有较大的修改，作业请使用<a href = 'http://docs.pgrouting.org/2.1/doc/index.html' target="_blank">pgRouting 2.1</a>函数**


使用pgr_dijkstra函数查询上述有向图从$v_{0}$到$v_{4}$的最短路径，<a href = 'http://docs.pgrouting.org/2.1/src/dijkstra/doc/dijkstra_v3.html#pgr-dijkstra-v3' target="_blank">pgr_dijkstra</a>函数定义如下：

**Dijkstra 1 to 1**<br/>
pgr_dijkstra(text edges_sql, bigint start_vid, bigint end_vid, boolean directed:=true);<br/>
    RETURNS SET OF (seq, path_seq, node, edge, cost, agg_cost) or EMPTY SET
   
**Dijkstra many to 1**<br/>
pgr_dijkstra(text edges_sql, array[ANY_INTEGER] start_vids, bigint end_vid, boolean directed:=true);<br/>
   RETURNS SET OF (seq, path_seq, start_vid, node, edge, cost, agg_cost) or EMPTY SET

**Dijkstra 1 to many**<br/>
pgr_dijkstra(text edges_sql, bigint start_vid, array[ANY_INTEGER] end_vids, boolean directed:=true);<br/>
  RETURNS SET OF (seq, path_seq, end_vid, node, edge, cost, agg_cost) or EMPTY SET
  
**Dijkstra many to many**<br/>
pgr_dijkstra(text edges_sql, array[ANY_INTEGER] start_vids, array[ANY_INTEGER] end_vids, boolean directed:=true);<br/>
  RETURNS SET OF (seq, path_seq, start_vid, end_vid, node, edge, cost, agg_cost) or EMPTY SET

**Description of the SQL query**

* edges_sql:	
    * an SQL query, which should return a set of rows with the following columns:
    * id:	ANY-INTEGER identifier of the edge.
    * source:	ANY-INTEGER identifier of the first end point vertex of the edge.
    * target:	ANY-INTEGER identifier of the second end pont vertex of the edge.
    * cost:	ANY-NUMERICAL weight of the edge (source, target), if negative: edge (source, target) does not exist, therefore it’s not part of the graph.
    * reverse_cost:	ANY-NUMERICAL (optional) weight of the edge (target, source), if negative: edge (target, source) does not exist, therefore it’s not part of the graph.

Where:<br/>
* ANY-INTEGER:	smallint, int, bigint
* ANY-NUMERICAL:	smallint, int, bigint, real, float

**Description of the parameters of the signatures**<br/>
* sql:	SQL query as decribed above.
* start_vid:	BIGINT identifier of the starting vertex of the path.
* start_vids:	array[ANY-INTEGER] array of identifiers of starting vertices.
* end_vid:	BIGINT identifier of the ending vertex of the path.
* end_vids:	array[ANY-INTEGER] array of identifiers of ending vertices.
* directed:	boolean (optional). When false the graph is considered as Undirected. Default is true which considers the graph as Directed.

**Description of the return values **<br/>
Returns set of (seq [, start_vid] [, end_vid] , node, edge, cost, agg_cost)<br/>
* seq:	INT isequential value starting from 1.
* path_seq:	INT relative position in the path. Has value 1 for the begining of a path.
* start_vid:	BIGINT id of the starting vertex. Used when multiple starting vetrices are in the query.
* end_vid:	BIGINT id of the ending vertex. Used when multiple ending vertices are in the query.
* node:	BIGINT id of the node in the path from start_vid to end_v.
* edge:	BIGINT id of the edge used to go from node to the next node in the path sequence. -1 for the last node of the path.
* cost:	FLOAT cost to traverse from node using edge to the next node in the path sequence.
* agg_cost:	FLOAT total cost from start_v to node.

In [13]:
%%sql
select seq, id1 AS node, id2 AS edge, cost
from pgr_dijkstra('select id, source, target, weight as cost from edges', 1, 4, true, false);

4 rows affected.

[(0, 1, 3, 3.0), (1, 2, 5, 5.0), (2, 3, 6, 1.0), (3, 4, -1, 0.0)]

创建如下道路关系，该道路关系有几条道路和多少个顶点？
<img src = 'Figure 4-3.png'/>

In [14]:
%%sql
drop table if exists road;
create table road (
    id serial primary key,
    name text,
    geom geometry(LineString, 4326)
);

insert into road(name, geom) values ('A', ST_GeomFromText('LineString(0 20, 10 20)', 4326)),
                                    ('B', ST_GeomFromText('LineString(10 20, 10 2)', 4326)),
                                    ('C', ST_GeomFromText('LineString(10 2, 20 2)', 4326)),
                                    ('D', ST_GeomFromText('LineString(0 5, 20 5)', 4326)),
                                    ('E', ST_GeomFromText('LineString(20 4.9999, 20 2.0001)', 4326));

Done.
Done.
5 rows affected.

[]

基于几何对象模型road(id, name, geom)，创建空间网络模型road_network(id, name, source, target, geom, len)，导入road中的name和geom属性，并基于geom属性计算len属性。

In [15]:
%%sql
drop table if exists road_network;
create table road_network (
       id serial primary key,
       name text,
       source int4,
       target int4,
       geom geometry(LineString, 4326),
       len float);

insert into road_network(name, geom) select name, geom from road;
update road_network set len = ST_LENGTH(geom);

Done.
Done.
5 rows affected.
5 rows affected.

[]

road_network中的source和target属性可以通过<a href = 'http://docs.pgrouting.org/2.1/src/common/doc/functions/create_topology.html#pgr-create-topology' target="_blank">pgr_create_topology</a>函数更新，pgr_createTopology函数定义如下：

varchar pgr_createTopology(text edge_table, double precision tolerance,<br/>
                   text the_geom:='the_geom', text id:='id',<br/>
                   text source:='source',text target:='target',<br/>
                   text rows_where:='true', boolean clean:=false)
                   
**The topology creation function accepts the following parameters:**

* edge_table:	text Network table name. (may contain the schema name AS well)
* tolerance:	float8 Snapping tolerance of disconnected edges. (in projection unit)
* the_geom:	text Geometry column name of the network table. Default value is the_geom.
* id:	text Primary key column name of the network table. Default value is id.
* source:	text Source column name of the network table. Default value is source.
* target:	text Target column name of the network table. Default value is target.
* rows_where:	text Condition to SELECT a subset or rows. Default value is true to indicate all rows that where source or target have a null * value, otherwise the condition is used.
* clean:	boolean Clean any previous topology. Default value is false.

在pgAdmin III上执行select pgr_createTopology('load_network', 0.00001, 'geom', 'id', 'source','target','true');后，消息输出如下：
<img src = 'Figure 4-14.png'/>

注意road_network关系的source和target属性改变，同时创建id，the_geom，source和target的索引，加速这些属性的查询。

注意创建了一个新关系road_network_vertices_pgr：

**The Vertices Table**

The vertices table is a requirment of the pgr_analyzeGraph and the pgr_analyzeOneway functions.

The structure of the vertices table is:

* id:	bigint Identifier of the vertex.
* cnt:	integer Number of vertices in the edge_table that reference this vertex. See pgr_analyzeGraph.
* chk:	integer Indicator that the vertex might have a problem. See pgr_analyzeGraph.
* ein:	integer Number of vertices in the edge_table that reference this vertex AS incoming. See pgr_analyzeOneway.
* eout:	integer Number of vertices in the edge_table that reference this vertex AS outgoing. See pgr_analyzeOneway.
* the_geom:	geometry Point geometry of the vertex.

新产生的road_network_vertices_pgr有多少个顶点？顶点按照什么标准合成？

如果road_network_vertices_pgr没有drop，再次调用pgr_createTopology后，顶点存储在哪儿？

In [16]:
%%sql
drop table if exists road_network_vertices_pgr;
select pgr_createTopology('road_network', 0.00001, 'geom', 'id', 'source','target', 'true');

Done.
1 rows affected.

[(u'OK',)]

查询road_network_vertices_pgr的元组，几何属性以WKT格式显示

In [17]:
%sql select id, cnt, chk, ein, eout, ST_AsText(the_geom) from road_network_vertices_pgr

8 rows affected.

[(1L, None, None, None, None, u'POINT(0 20)'),
 (2L, None, None, None, None, u'POINT(10 20)'),
 (3L, None, None, None, None, u'POINT(10 2)'),
 (4L, None, None, None, None, u'POINT(20 2)'),
 (5L, None, None, None, None, u'POINT(0 5)'),
 (6L, None, None, None, None, u'POINT(20 5)'),
 (7L, None, None, None, None, u'POINT(20 4.9999)'),
 (8L, None, None, None, None, u'POINT(20 2.0001)')]

利用road_network可以查询点(0,5)到(10,20)的导航路径？
<img src = 'Figure 4-5.png'/>
tolerance: float8 Snapping tolerance of disconnected edges. (in projection unit)

可以修改的pgr_createTopology的tolerance属性，使得顶点6和7、4和8合并。tolerance改成0.001，查看是否合并？能否将tolerance直接改成100？

In [18]:
%%sql
SELECT seq, id1 AS node, id2 AS edge, cost
          FROM pgr_dijkstra(
                  'SELECT id, source, target, len as cost FROM road_network',
                  5, 3, false, false
          );

0 rows affected.

[]

In [19]:
%%sql
drop table if exists road_network_vertices_pgr;
select pgr_createTopology('road_network', 0.00011, 'geom', 'id', 'source','target', 'true');

Done.
1 rows affected.

[(u'OK',)]

In [20]:
%sql select id, cnt, chk, ein, eout, ST_AsText(the_geom) from road_network_vertices_pgr

6 rows affected.

[(1L, None, None, None, None, u'POINT(0 20)'),
 (2L, None, None, None, None, u'POINT(10 20)'),
 (3L, None, None, None, None, u'POINT(10 2)'),
 (4L, None, None, None, None, u'POINT(20 2)'),
 (5L, None, None, None, None, u'POINT(0 5)'),
 (6L, None, None, None, None, u'POINT(20 5)')]

利用road_network可以查询点(0,5)到(10,20)的导航路径？
<img src = 'Figure 4-6.png'/>
查询结果有何问题？

In [21]:
%%sql
SELECT seq, id1 AS node, id2 AS edge, cost
          FROM pgr_dijkstra(
                  'SELECT id, source, target, len as cost FROM road_network',
                  5, 3, false, false
          );

4 rows affected.

[(0, 5, 4, 20.0), (1, 6, 5, 2.9998), (2, 4, 3, 10.0), (3, 3, -1, 0.0)]

道路网络边和顶点可以通过<a href = 'http://docs.pgrouting.org/2.1/src/common/doc/functions/analyze_graph.html#pgr-analyze-graph' target="_blank">pgr_analyzeGraph</a>进行分析。

**Prerequisites**

The edge table to be analyzed must contain a source column and a target column filled with id’s of the vertices of the segments 
the corresponding vertices table <edge_table>_vertices_pgr that stores the vertices information.

**The analyze graph function accepts the following parameters:**

* edge_table: text Network table name. (may contain the schema name as well)
* tolerance: float8 Snapping tolerance of disconnected edges. (in projection unit)
* the_geom: text Geometry column name of the network table. Default value is the_geom
* id: text Primary key column name of the network table. Default value is id
* source: text Source column name of the network table. Default value is source
* target: text Target column name of the network table. Default value is target
* rows_where:	text Condition to select a subset or rows. Default value is true to indicate all rows

在pgAdmin III执行select pgr_analyzeGraph('road_network',0.00001,'geom','id','source','target', 'true');，消息输出如下：
<img src = 'Figure 4-7.png'/>
当前的road_network存在什么问题？

创建相交点修正道路网络可以通过<a href = 'http://docs.pgrouting.org/2.1/src/common/doc/functions/node_network.html#pgr-node-network' target="_blank">pgr_nodeNetwork</a>实现。

This function reads the edge_table table, that has a primary key column id and geometry column named the_geom and intersect all the segments in it against all the other segments and then creates a table edge_table_noded. It uses the tolerance for deciding that multiple nodes within the tolerance are considered the same node.

**Parameters**

* edge_table:	text Network table name. (may contain the schema name as well)
* tolerance:	float8 tolerance for coincident points (in projection unit)dd
* id:	text Primary key column name of the network table. Default value is id.
* the_geom:	text Geometry column name of the network table. Default value is the_geom.
* table_ending:	text Suffix for the new table’s. Default value is noded.

**The output table will have for edge_table_noded**

* id:	bigint Unique identifier for the table
* old_id:	bigint Identifier of the edge in original table
* sub_id:	integer Segment number of the original edge
* source:	integer Empty source column to be used with pgr_createTopology function
* target:	integer Empty target column to be used with pgr_createTopology function
* the geom:	geometry Geometry column of the noded network

在pgAdmin III执行select pgr_nodeNetwork('road_network', 0.00011, the_geom:='geom',id:='id',table_ending:='1');，消息输出如下：
<img src = 'Figure 4-8.png'/>
注意新的道路网络关系在road_network_1中。

In [22]:
%%sql
drop table if exists load_network_1;
select pgr_nodeNetwork('road_network', 0.00011, the_geom:='geom', id:='id', table_ending:='1');

Done.
1 rows affected.

[(u'OK',)]

In [23]:
%sql select id, old_id, sub_id, source, target, ST_AsText(geom) from road_network_1;

7 rows affected.

[(1L, 2, 2, None, None, u'LINESTRING(10 5,10 2)'),
 (2L, 2, 1, None, None, u'LINESTRING(10 20,10 5)'),
 (3L, 4, 2, None, None, u'LINESTRING(10 5,20 5)'),
 (4L, 4, 1, None, None, u'LINESTRING(0 5,10 5)'),
 (5L, 1, 1, None, None, u'LINESTRING(0 20,10 20)'),
 (6L, 3, 1, None, None, u'LINESTRING(10 2,20 2)'),
 (7L, 5, 1, None, None, u'LINESTRING(20 4.9999,20 2.0001)')]

道路关系已变成：
<img src = 'Figure 4-9.png'/>
注意road_network_1中source和target属性并无赋值，也没有len属性，顶点关系road_network_vertices_pgr也没有改变。

In [24]:
%sql select id, cnt, chk, ein, eout, ST_AsText(the_geom) from road_network_vertices_pgr

6 rows affected.

[(1L, None, None, None, None, u'POINT(0 20)'),
 (2L, None, None, None, None, u'POINT(10 20)'),
 (3L, None, None, None, None, u'POINT(10 2)'),
 (4L, None, None, None, None, u'POINT(20 2)'),
 (5L, None, None, None, None, u'POINT(0 5)'),
 (6L, None, None, None, None, u'POINT(20 5)')]

对于road_network_1再次创建拓扑关系，pgr_createTopology和pgr_analyzeGraph的消息输出如下：
<img src = 'Figure 4-10.png'/>
<img src = 'Figure 4-11.png'/>
注意新生成的顶点关系load_network_1_vertices_pgr。

In [25]:
%%sql 
drop table if exists load_network_1_vertices_pgr; 
select pgr_createTopology('road_network_1', 0.001, 'geom', 'id', 'source','target','true');
select pgr_analyzeGraph('road_network_1',0.001,'geom','id','source','target','true');

Done.
1 rows affected.
1 rows affected.

[(u'OK',)]

查询road_network_1_vertices_pgr的元组，几何属性以WKT格式显示

In [26]:
%sql select id, cnt, chk, ein, eout, ST_AsText(the_geom) from road_network_1_vertices_pgr

7 rows affected.

[(1L, 4, 0, None, None, u'POINT(10 5)'),
 (2L, 2, 0, None, None, u'POINT(10 2)'),
 (3L, 2, 0, None, None, u'POINT(10 20)'),
 (4L, 2, 0, None, None, u'POINT(20 5)'),
 (5L, 1, 0, None, None, u'POINT(0 5)'),
 (6L, 1, 0, None, None, u'POINT(0 20)'),
 (7L, 2, 0, None, None, u'POINT(20 2)')]

将road_network_1的信息转存到road_network，并且重新计算len属性
<img src = 'Figure 4-12.png'/>

In [27]:
%%sql
drop table if exists temp;
create table temp (
       id serial primary key,
       name text,
       source int,
       target int,
       geom geometry(LineString, 4326)
);

insert into temp(name, source, target, geom)
     select O.name, N.source, N.target, N.geom from road_network O, road_network_1 N where O.id = N.old_id order by O.name;

delete from road_network;

insert into road_network(name, source, target, geom)
     select name, source, target, geom from temp;
    
drop table temp;
    
update road_network
     set len = ST_LENGTH(geom);

Done.
Done.
7 rows affected.
5 rows affected.
7 rows affected.
Done.
7 rows affected.

[]

查询点(0,5)到(10,20)的导航路径

In [28]:
%%sql
SELECT seq, id1 AS node, id2 AS edge, cost
          FROM pgr_dijkstra(
                  'SELECT id, source, target, len as cost FROM road_network',
                  5, 2, false, false
          );

3 rows affected.

[(0, 5, 10, 10.0), (1, 1, 8, 3.0), (2, 2, -1, 0.0)]

## 扩展<br/>
1.新增加路F，从(0,5)到(10,20)，如何修改road_network空间网络，查询点(0,5)到(0,20)的导航路径
<img src = 'Figure 4-13.png'/>

In [29]:
%%sql

UsageError: %%sql is a cell magic, but the cell body is empty. Did you mean the line magic %sql (single %)?

2.查询(12,6)到(10,20)的导航路径，注意(12,6)不是road_network_1_vertices_pgr的顶点<br/>
一种解决方法是查询(12,6)到road_network_1_vertices_pgr中直线距离最近的点，通过查询该点到(10,20)的导航路径。<br/>
思考：直接选择距离最近的点，获得的是(12,6)到(10,20)的距离最短的路径吗？

In [30]:
%%sql

UsageError: %%sql is a cell magic, but the cell body is empty. Did you mean the line magic %sql (single %)?

3.查询(12,6)到(14,4)的最短距离，注意(12,6)和(14,4)都不是road_network_1_vertices_pgr的顶点 **（课堂检查2）**

In [31]:
%%sql

UsageError: %%sql is a cell magic, but the cell body is empty. Did you mean the line magic %sql (single %)?

4.限制单行，只能从(10,5)到(0,5)，如何修改网络，查询点(0,5)到(10,20)的导航路径 **（课堂检查3）**

In [32]:
%%sql

UsageError: %%sql is a cell magic, but the cell body is empty. Did you mean the line magic %sql (single %)?