#实习1 关系数据库创建和数据查询

'Connected: None@None'

    姓名：施能

学号：3140100193

**实习目的：**了解数据库发展历史，熟悉PostgreSQL数据库管理系统，掌握关系代数和关系数据库标准语言SQL，包括关系数据库和表的创建、数据导入和插入、完整性约束、数据查询、关系代数与SQL语句相互转换、结果分析。

**注意事项：**
* 课程主页上有PostgreSQL和IPython Notebook安装说明
* 可以创建新的Cell用于测试，但问题回答和SQL语句写在相应的Cell中，并执行（Shift+Enter）
* 看到 `In [*]:` ，意味着该Cell的SQL语句正在执行
    * **如果运行时间过长：重新连接数据库，需要重新开始整个Kernel**
    * 菜单"Kernel >> Restart", 重新执行SQL连接、数据库创建等前面的Cell 
* 注意:
    * `%sql [SQL]` 是 _single line_ SQL queries
    * `%%sql [SQL]` 是 _multi line_ SQL queries
* 实习1总分50分，实习考察的题目后面标了具体分数
* 递交的lab1.ipynb需要包含执行结果，压缩为__实习1\_学号\_姓名.rar__，发送到zjusdb@163.com
* 实习1截止日期**2016.3.20**

### 1. 阅读中国计算机学会通讯2014年第5期的《<a href="http://www.ccf.org.cn/resources/1190201776262/2014/05/12/7.pdf" target="_blank">大数据存储渊源</a>》，根据文中内容回答以下问题。

#### 1.1 ACID是指什么？ACID是由哪个数据库系统首先实现？（2分）

传统关系数据库在数据操作过程中必须同时保证操作的原子性(atomicity)、一致性(consistency)、隔离性(isolation)和持久性(durability)。INGRES通过相对简单的数据库操作语言使得ACID在底层自动实现。

#### 1.2 CAP Theorem是指什么？非结构化数据库通常满足CAP中的哪些？（2分）

分布式数据库系统无法同时满足数据的一致性、可用性和分割容忍性(partition
tolerance) 的要求。
满足可用性和分割容忍性，然后实现最终一致性(eventual consistency)。

#### 1.3 数据库系统原理课程已经介绍了文中提到的哪些概念？至少举例6个概念。（2分）

关系型数据库、参照完整性、数据仓库、一致性、隔离性、持久性

### 2. 基于关系代数Python工具集（relation_algebra.py），实现关系代数和SQL语句的相互转换。

##### 关系代数Python工具集使用介绍

这里给出关系代数Python工具集的简要使用介绍，它的语法非常直观。(感兴趣的同学可以查看文件夹下关于关系代数和显示工具的源码。)

下面我们使用python内集成的sqlite数据库。同时，我们需要导入一些必要的模块方法，可能需要安装Python模块markdown（pip install markdown）。

In [1]:
%load_ext sql
%sql sqlite://

%load_ext autoreload
%autoreload 2

#  帮助绘制一些符号标记
from IPython.core.display import display, HTML
from markdown import markdown
def render_markdown_raw(m): return display(HTML(markdown(m))) 
def render_markdown(m): return render_markdown_raw(m.toMD())

# 导入一些关系代数模块的对象及方法
from relation_algebra import Select, Project, Union, NJoin, CrossProduct, BaseRelation
from relation_algebra import get_result, compare_results

from display_tools import side_by_side

import random

d:\python27\lib\site-packages\IPython\config.py:13: ShimWarning: The `IPython.config` package has been deprecated. You should import from traitlets.config instead.
  "You should import from traitlets.config instead.", ShimWarning)
d:\python27\lib\site-packages\IPython\utils\traitlets.py:5: UserWarning: IPython.utils.traitlets has moved to a top-level traitlets package.
  warn("IPython.utils.traitlets has moved to a top-level traitlets package.")

创建需要使用的表。

In [37]:
%%sql
drop table if exists R; create table R(A int, B int);
drop table if exists S; create table S(B int, C int);
drop table if exists T; create table T(C int, D int);
drop table if exists U; create table U(D int, E int);

Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

向创建的表中插入数据。

In [38]:
for x in range(0,10,2):
    for y in range(0,10,3):
        %sql INSERT INTO R VALUES (:x, :y);
for x in range(0,20,4):
    for y in range(0,10,2):
        %sql INSERT INTO S VALUES (:x, :y);
for x in range(0,5,1):
    for y in range(0,10,2):
        %sql INSERT INTO T VALUES (:x, :y);
for x in range(0,10,2):
    for y in range(0,5,1):
        %sql INSERT INTO U VALUES (:x, :y);

1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

#### BaseRelation类

关系代数主要处理集合。使用工具集一般先要将SQL语句的输出转化成一个BaseRelation对象，可选则为对象进行命名：

In [39]:
r = %sql SELECT * FROM R;
R = BaseRelation(r, name="R")

s = %sql SELECT * FROM S;
S = BaseRelation(s, name="S")

t = %sql SELECT * FROM T;
T = BaseRelation(t, name="T")

Done.
Done.
Done.

使用工具集中的get_result方法来查看结果集。

In [46]:
print get_result(R)

[(0, 0), (0, 3), (0, 6), (0, 9), (2, 0), (2, 3), (2, 6), (2, 9), (4, 0), (4, 3), (4, 6), (4, 9), (6, 0), (6, 3), (6, 6), (6, 9), (8, 0), (8, 3), (8, 6), (8, 9)]

使用工具集中的render_markdown函数来显示关系模式。

In [7]:
render_markdown(R)
render_markdown(S)
render_markdown(T)

#### 选择(Selection)类

In [8]:
s = Select("A", 2, R)
render_markdown(s)
print get_result(s)

[(2, 0), (2, 3), (2, 6), (2, 9)]

#### 投影(Project)类

In [9]:
p = Project(["A"], R)
render_markdown(p)
print get_result(p)

[(2,), (8,), (0,), (6,), (4,)]

#### 自然连接(NJoin)类

In [10]:
j = NJoin(R, S)
render_markdown(j)
print get_result(j)

[(0, 0, 0), (0, 0, 2), (0, 0, 4), (0, 0, 6), (0, 0, 8), (2, 0, 0), (2, 0, 2), (2, 0, 4), (2, 0, 6), (2, 0, 8), (4, 0, 0), (4, 0, 2), (4, 0, 4), (4, 0, 6), (4, 0, 8), (6, 0, 0), (6, 0, 2), (6, 0, 4), (6, 0, 6), (6, 0, 8), (8, 0, 0), (8, 0, 2), (8, 0, 4), (8, 0, 6), (8, 0, 8)]

#### 组合性

从关系代数中导入Select, Project, Union, NJoin, CrossProduct, BaseRelation几个类可以相互组合。如上，我们已经利用BaseRelation对象组合出新的对象。

#### 组合性可以帮助我们完成SQL语句和关系代数之间的转换。

为了方便核实下面转化的正确性，可以利用side_by_side函数将两个表的数据放在一起显示。

In [11]:
r = %sql SELECT * FROM R;
s = %sql SELECT * FROM S;
side_by_side(r,s)

Done.
Done.

#### 2.1 SQL语句转换为关系代数

In [12]:
%%sql
SELECT DISTINCT R.B
FROM R
WHERE R.A = 2;

Done.

[(0,), (3,), (6,), (9,)]

In [13]:
X = %sql SELECT DISTINCT R.B FROM R WHERE R.A = 2;
x = BaseRelation(X)

y = Project(["B"], Select("A", 2, R))
render_markdown(y)

print compare_results(x,y)#比较两种方式的结果是否一致

Done.

True

#### 2.2 SQL语句转换为关系代数（2分）

In [33]:
%%sql
SELECT DISTINCT R.A, T.D
FROM R, S, T
WHERE R.B = S.B AND S.C = T.C AND R.A = 2;

Done.

[(2, 0), (2, 2), (2, 4), (2, 6), (2, 8)]

In [19]:
X=%sql SELECT DISTINCT R.A, T.D FROM R, S, T WHERE R.B = S.B AND S.C = T.C AND R.A = 2;
x = BaseRelation(X)

y = Project(["A","D"],Select("A",2,NJoin(NJoin(R,S),T)))
render_markdown(y)
print compare_results(x,y)#类似2.1，写出转化后请利用compare_results(x,y)函数比较结果的正确性。

Done.

True

#### 2.3 关系代数转换为SQL语句（2分）

In [23]:
x = Project(["A","C"],
        NJoin(
            NJoin(Select("B", 0, BaseRelation(r, name="R")), BaseRelation(s, name="S")),
            Select("C", 0, BaseRelation(t, name="T"))))
render_markdown(x)
print get_result(x)

[(8, 0), (2, 0), (0, 0), (6, 0), (4, 0)]

In [25]:
x=Project(["A","C"],
        NJoin(
            NJoin(Select("B", 0, BaseRelation(r, name="R")), BaseRelation(s, name="S")),
            Select("C", 0, BaseRelation(t, name="T"))))
render_markdown(x)

Y = %sql select A,C from ((select * from R where B=0) natural join S) natural join (select * from T where C=0);
y = BaseRelation(Y)

print compare_results(x,y) 


#写出转化后请利用compare_results(x,y)函数比较结果的正确性。

Done.
True

#### 2.4 关系代数转换为SQL语句（2分）

<img src="Figure 2.4.png">

In [48]:
u = %sql SELECT * FROM U;
U = BaseRelation(u, name="U")

x= NJoin(R,NJoin(Project(["B","D"],
                                 NJoin(S,Select("D",3,T))),
                  Project(["D"],Select("E",1,U))))
render_markdown(x)   
   
Y = %%sql select * from (R natural join ((select B,D from S natural join (select * from T where D=3)) natural join(select D from U where E=0)));
y = BaseRelation(Y)

print compare_results(x,y)
#写出转化后请利用compare_results(x,y)函数比较结果的正确性。

Done.

Done.
True

### 3. 以奥斯卡提名的奖项和演员为数据库实体和联系，在PostgreSQL上创建关系数据库，并导入数据，并构造相关数据查询。

####  3.1 奥斯卡提名数据库的实体和联系如下图所示：

<img src="Figure 3.1.png">

基于上图创建categories、people和nominations关系，其中int4和varchar使用PostgreSQL数据库中的integer和character varying数据类型。

####  3.1.0 连接你所创建的数据库
通过pgAdmin III在PostgreSQL数据库中创建lab1数据库，并连接该数据库。

In [2]:
%%sql postgresql://postgres:postgres@localhost/lab1
            
            
SET statement_timeout = 0;
SET lock_timeout = 0;
SET client_encoding = 'gbk';
SET standard_conforming_strings = on;
SET check_function_bodies = false;
SET client_min_messages = warning;

drop table  if exists nominations cascade;
drop table  if exists people cascade;
drop table  if exists categories cascade;

Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

#### 3.1.1 奖项关系创建。
关系模式为categories(id, name)。

可以按照如下语句创建:
drop table if exists categories;
CREATE TABLE categories (
    id serial NOT NULL primary key,
    name character varying
);

In [3]:
%%sql drop table if exists categories;
CREATE TABLE categories (
    id serial NOT NULL primary key,
    name character varying
);

Done.
Done.

[]

#### 3.1.2 演员关系创建。（2分）
关系模式为people (id, firstName, lastName)， 其中，id为演员关系的主键。

In [4]:
%%sql drop table if exists people;
create table people(
    id serial not null primary key,
    firstName character varying,
    lastName character varying
);

Done.
Done.

[]

#### 3.1.3 提名关系创建（4分）
关系模式为nominations(id, year, catId, personId, title, characterName, won)。其中，每一行对应着演员people(id)的一项归类于categories(id)的提名。

– id为提名表的主键(1, 2, . . . ).

– won是一个boolean型变量，其值为't'当且仅当该项提名最终通过；否则为'f'

– characterName是演员在电影(title)中饰演的角色名。

In [5]:
%%sql drop table if exists nominations;
create table nominations(
    id serial not null primary key,
    year int4,
    catId int4,
    personId int4,
    title character varying,
    characterName character varying,
    won bool
);

Done.
Done.

[]

#### 3.2 奖项关系只包含4类奖项："Best Actor", "Best Actress", " Best Supporting Actor", " Best Supporting Actress" ，即最佳男主角、最佳女主角、最佳男配角、最佳女配角。提名关系中的元组为


<img src="Figure 3.2.png">


   其中，1142号提名记录，奖项号(catId)为3(=最佳女配角)，发生在1939年，颁发给personId为602号(=Vivien Leigh)的人，她在电影(movie)："Gone with the Wind"饰演的角色(role)为"Scarlett O'Hara"，并且她最后获得了该奖项(won='t')。
    PostgreSQL可以通过<a href = "http://www.postgresql.org/docs/9.4/static/sql-copy.html" target="_blank">copy语句</a>批量导入数据，命令格式如下：
    
    copy [table name] from 'absolute file path of the data file' delimiter ‘|’; (建议使用绝对路径)
    
基于copy语句将给出的3个数据文件，导入到相应的关系中，文件中每行对应关系的一个元组（一行），属性是通过分隔符’|’隔离。

#### 3.2.1 奖项关系数据[categories](/edit/categories.txt)导入。(假设categories.txt已从数据目录下拷贝到E盘）

In [6]:
%sql copy categories(id, name) from  'e://categories.txt' delimiter '|';

4 rows affected.

[]

#### 3.2.2 演员关系数据[people](/edit/people.txt)导入。（1分）

In [7]:
%sql copy people(id, firstName, lastName) from  'e://people.txt' delimiter '|';

899 rows affected.

[]

#### 3.2.3 提名关系数据[nominations](/edit/nominations.txt)导入。（1分）

In [8]:
%sql copy nominations(id, year, catId, personId, title, characterName, won) from  'e://nominations.txt' delimiter '|';

1648 rows affected.

[]

#### 通过select count(*) from categories验证数据导入正确性。

In [9]:
%sql select count(*) from categories;
%sql select count(*) from people;
%sql select count(*) from nominations;

1 rows affected.
1 rows affected.
1 rows affected.

[(1648L,)]

#### 3.3 数据插入

第88界奥斯卡奖在2016年2月28号颁奖，构造SQL语句将2016年奥斯卡提名和获奖数据插入到相应的关系中，提名和获奖情况查看https://en.wikipedia.org/wiki/88th_Academy_Awards (注意演员不能重复插入)（5分）

In [10]:
%%sql 
insert into people values(900,'Bryan', 'Cranston'),
                         (901,'Mark','Rylance'),  
                        (902,'Tom','Hardy'),   
                        (903,'Brie','Larson'), 
                        (904,'Charlotte','Rampling'), 
                        (905,'Alicia', 'Vikander'), 
                        (906,'Jennifer Jason', 'Leigh'), 
                        (907,'Rachel', 'McAdams' );
insert into nominations values (1649,2016,1,18,'The Revenant','Hugh Glassdouble-dagger','t'),
                                (1650,2016,1,900,'Trumbo','Dalton Trumbo','f'),
                                (1651,2016,1,50,'The Martian','Mark Watney','f'),
                                (1652,2016,1,887,'Steve Jobs' ,'Steve Jobs','f'),
                                (1653,2016,1,891,'The Danish Girl' ,'Lili Elbe','f'),

                                (1654,2016,2,901,'Bridge of Spies' ,'Rudolf Abeldouble-dagger','t'),
                                (1655,2016,2,214,'The Big Short', 'Michael Burry','f'),
                                (1656,2016,2,902,'The Revenant','John Fitzgerald','f'),
                                (1657,2016,2,216,'Spotlight','Michael Rezendes','f'),
                                (1658,2016,2,110, 'Creed','Rocky Balboa','f'),

                                (1659,2016,3,903,'Room' ,'Joy \"Ma\" Newsomedouble-dagger','t'),
                                (1670,2016,3,455,'Carol' ,'Carol Aird','f'),
                                (1671,2016,3,207,'Joy' ,'Joy Mangano','f'),
                                (1672,2016,3,904,'45 Years' , 'Kate Mercer','f'),
                                (1673,2016,3,660, 'Brooklyn' , 'Eilis Lacey','f'),

                                (1674,2016,4,905,'The Danish Girl' , 'Gerda Wegenerdouble-dagger','t'),
                                (1675,2016,4,906,'The Hateful Eight' , 'Daisy Domergue','t'),
                                (1676,2016,4,598,'Carol' , 'Therese Belivet','t'),
                                (1677,2016,4,907,'Spotlight' , 'Sacha Pfeiffer','t'),
                                (1678,2016,4,454,'Steve Jobs' , 'Joanna Hoffman','t');

8 rows affected.
20 rows affected.

[]

#### 3.4 构造SQL语句实现以下数据查询与分析，每个查询使用一个SQL语句实现，不能使用with语句。

3.4.0 列出所有的奖项。结果的每一行由二元组(id(奖项号),name(奖项名))组成，并按照奖项名排序(排序顺序为sql语句默认的顺序)。

In [11]:
%sql select * from categories order by name;

4 rows affected.

[(1, u'Leading Actor'),
 (3, u'Leading Actress'),
 (2, u'Supporting Actor'),
 (4, u'Supporting Actress')]

3.4.1 列出在1990年所有提名电影中独一无二的电影名字(title)，按照字典序排列。（2分）

In [12]:
%sql select distinct title from nominations where year=1990 order by title;

16 rows affected.

[(u'Awakenings',),
 (u'Cyrano de Bergerac',),
 (u'Dances With Wolves',),
 (u'Dick Tracy',),
 (u'Ghost',),
 (u'Good Fellas',),
 (u'Longtime Companion',),
 (u'Misery',),
 (u'Mr. & Mrs. Bridge',),
 (u'Postcards from the Edge',),
 (u'Pretty Woman',),
 (u'Reversal of Fortune',),
 (u'The Field',),
 (u'The Godfather, Part III',),
 (u'The Grifters',),
 (u'Wild at Heart',)]

3.4.2 列出所有人中出现次数最多的名字(firstName)以及该名字出现的次数(比如:如果"Mary"出现了23次，且其他名字出现的次数都比它少，则输出("Mary", 23))。结果的每一行由二元组(firstName, popularity(该名字出现的次数))组成。如果出现次数最多的名字不止一个，则按照字典序输出第一个。(提示:可以使用关键词limit)（3分）

In [23]:
%%sql 
select  T.firstName,T.num as popularity 
from (select firstName,count(*) as num
                from people 
                 group by firstName) as T
where    T.num = (select max(T1.num1) from
                (select firstName,count(*) as num1
                from people 
                 group by firstName) as T1)
order by firstName
limit 1;

1 rows affected.

[(u'Robert', 17L)]

3.4.3 超级电影:列出奥斯卡历史上提名次数最多的电影名字。结果的每一行由二元组(title(电影名)，year(年份))组成。如果存在不止一个这样的电影，列出所有的结果，并按照电影名字排序。（3分）

In [18]:
%%sql 
select T.title,T.year
from (select title,year,count(*) as num
	from nominations
	group by title,year) as T
where T.num= (select max(T1.num) from
		(select title,count(*) as num
		from nominations
		group by title) as T1)
order by title;

9 rows affected.

[(u'All about Eve', 1950),
 (u'Bonnie and Clyde', 1967),
 (u'From Here to Eternity', 1953),
 (u'Mrs. Miniver', 1942),
 (u'Network', 1976),
 (u'On the Waterfront', 1954),
 (u'Peyton Place', 1957),
 (u'The Godfather Part II', 1974),
 (u'Tom Jones', 1963)]

3.4.4 列出2000-2002年之间提名最佳男主角中独一无二的姓氏(lastName)，并按照字典序排序。（3分）

In [20]:
%%sql 
select lastName
from	(select lastName,count(*) as num
	from nominations join people on nominations.personId=people.id
	where year>=2000 and year<=2002 and catId=1
	group by lastName) as T
where 	T.num=1
order by lastName;

13 rows affected.

[(u'Bardem',),
 (u'Brody',),
 (u'Cage',),
 (u'Caine',),
 (u'Day-Lewis',),
 (u'Hanks',),
 (u'Harris',),
 (u'Nicholson',),
 (u'Penn',),
 (u'Rush',),
 (u'Smith',),
 (u'Washington',),
 (u'Wilkinson',)]

3.4.5 查找"Susan Lucci":列出从未最终获奖演员中提名次数最多的演员。结果的每一行由三元组(firstName(名字),lastName(姓氏), num_count(提名次数))组成。如果有多个演员符合条件，先按照姓名(firstName)的字典序排序再按照姓氏(lastName)的字典序排序。最终结果只返回一名演员，可以使用关键字limit得到结果。（4分）

In [21]:
%%sql 
select T3.firstName,T3.lastName
from (
	select personId,firstName,lastName,count(*) as num
	from (
		select T1.personId,T1.firstName,T1.lastName
		from (nominations join people on nominations.personId=people.id)  as T1
		where T1.personId not in 
			(select  personId
			 from nominations 
			 where won='t')
		) as T2
	group by personId,firstName,lastName
    ) as T3
 where T3.num= (select max(T4.num)
		from (
			select personId,firstName,lastName,count(*) as num
			from (
				select T5.personId,T5.firstName,T5.lastName
				from (nominations join people on nominations.personId=people.id)  as T5
				where T5.personId not in 
					(select  personId
					 from nominations 
					 where won='t')
			       ) as T6
			group by  personId,firstName,lastName
		      ) as T4)
order by firstName,lastName
limit 1;

1 rows affected.

[(u'Peter', u"O'Toole")]

3.4.6 超级明星: 列出所有获得提名不少于9次的演员，输出由三元组(personId(演员id), first and last name(姓名), and NumNominations(提名次数))组成，结果先按提名次数降序排列，再按姓氏(lastName)的字典序排列，最后按名字(firstName)的字典序排列。（4分）

In [25]:
%%sql 
select personId,concat(firstName,' ',lastName) as "first and last name",
	num as  NumNominations
from (	
	select T1.personId,T1.firstName,T1.lastName,count(*) as num
	from (nominations join people on nominations.personId=people.id) as T1
	group by personId,firstName,lastName 
     ) as T2
 where T2.num>=9
 order by num desc,lastName asc, firstName asc;

7 rows affected.

[(450, u'Meryl Streep', 19L),
 (534, u'Katharine Hepburn', 12L),
 (37, u'Jack Nicholson', 12L),
 (578, u'Bette Davis', 11L),
 (62, u'Paul Newman', 9L),
 (104, u'Laurence Olivier', 9L),
 (129, u'Spencer Tracy', 9L)]

3.4.7 寻找‘Jesse Eisenberg’的竞争者:寻找与他形成竞争的演员(们)，即那些与他在同(些)年的同(些)奖项获得提名的演员(们)。对于每一个演员，输出一个五元组(lastName(姓氏), firstName(名字),title(电影名), year(年份), catId(奖项号))，结果先按姓氏(lastName)的字典序排序，再按名字(firstName)的字典序排序。（4分）

In [26]:
%%sql 
select lastName,firstName,title,year,catId
from nominations join people on nominations.personId=people.id 
where year in 
     ( 
	select year
	from nominations join people on nominations.personId=people.id
	where firstName='Jesse'  and lastName='Eisenberg'
     ) 	
     and catId in
     ( 
	select catId
	from nominations join people on nominations.personId=people.id
	where firstName='Jesse'  and lastName='Eisenberg'
     )
     and firstName<>'Jesse'  and lastName<>'Eisenberg'
 order by lastName,firstName;

4 rows affected.

[(u'Bardem', u'Javier', u'Biutiful', 2010, 1),
 (u'Bridges', u'Jeff', u'True Grit', 2010, 1),
 (u'Firth', u'Colin', u"The King's Speech", 2010, 1),
 (u'Franco', u'James', u'127 Hours', 2010, 1)]

### 4. 附加题（4分）
稀疏矩阵是一种数据结构，只存储矩阵中非零的元素。例如
$A=\begin{bmatrix}0 & 2 & 0\\ 1 & 0 & 0\\ 0 & 0 & 3\end{bmatrix}$，
可以创建如下关系A(i, j, val)进行存储，其中i为行索引，j为列索引，val为元素数值：
<span>
<table>
    <tr>
        <td>i</td><td>j</td><td>val</td>
    </tr>
    <tr>
        <td>1</td><td>2</td><td>2</td>
    </tr>
    <tr>
        <td>2</td><td>1</td><td>1</td>
    </tr>
    <tr>
        <td>3</td><td>3</td><td>3</td>
    </tr>
</table>
</span>

稀疏矩阵$A$ ($n\times m$)和稀疏矩阵$B$ ($m\times p$)相乘得到稀疏矩阵$C$ ($n\times p$)：

$C_{ij} = \sum_{k=1}^m A_{ik}B_{kj}$

首先，构造SQL语句创建任意两个稀疏矩阵$A$和$B$：

In [30]:
%%sql 
drop table if exists A; create table A(i int, j int,val int);
insert into A values(1,2,2),(2,1,1),(3,3,3),(3,1,-1);
drop table if exists B; create table B(i int, j int,val int);
insert into B values(2,2,2),(3,1,1),(1,1,3);

Done.
Done.
4 rows affected.
Done.
Done.
3 rows affected.

[]

构造SQL语句查询稀疏矩阵$A$和$B$的乘积，乘积结果中不能包含值为0的元素。

In [31]:
%%sql 
select i,j,val
from (	select i,j,sum(T.val) as val
	from 
		(select  A.i,B.j,A.val*B.val as val
		from A join B on A.j=B.i) as T
	group by i,j) as T1
where val<>0;

2 rows affected.

[(2, 1, 3L), (1, 2, 4L)]

### 实习感想