# 实习2 空间数据库创建和数据查询

姓名：秦卫付

学号：3170106249

**实习目的：**了解OGC SFA标准，了解开源对象关系数据库系统PostgreSQL及其空间扩展PostGIS，熟悉PostGIS空间函数帮助文档查询方法，熟悉PostgreSQL空间数据库建库和数据导入，掌握各种几何关系判断、空间分析及相关SQL操作，熟悉在QGIS和OpenStreetMap上展示与分析查询结果。

**注意事项：**
* OpenStreetMap地图数据有误，台湾是中国领土不可分割的一部分
* SQL语句的错误输出为乱码时，修改SET client_encoding = 'GBK';或SET client_encoding = 'UTF-8';，重新连接数据库
* Jupyter Notebook对SQL语句的错误提示较弱，可以先在pgAdmin 4上执行，查看详细的错误信息
* 实习2总分60分，实习考察的题目后面标了具体分数，可以相互讨论思路，作业抄袭或雷同都要扣分
* 实习2\_学号\_姓名.ipynb替换其中的学号和姓名，包含执行结果，学号.jpg、实习2\_学号\_姓名.ipynb和jsonData目录压缩为实习2\_学号\_姓名.rar/zip，**不要包含数据文件**，发送到zjusdb@163.com，实习2截止日期**2019.3.31**

### 1. Simple Feature Access标准

<a href="http://www.opengeospatial.org/docs/is" target="_blank">Open Geospatial Consortium</a>的Simple Feature Access标准包含两个部分Part 1 <a href="http://portal.opengeospatial.org/files/?artifact_id=25355" target="_blank">Common architecture</a>和Part 2 <a href="http://portal.opengeospatial.org/files/?artifact_id=25354" target="_blank">SQL option</a>两部分，给出了地理空间几何类型及其SQL实现规范，建议阅读参考。

#### Part I Common architecture的Introduction介绍如下：

OpenGIS®简单要素访问规范(SFA)的本文部分，也叫做ISO 19125，描述了简单地理要素的常用架构。简单地理要素对象模型是计算平台无关，并使用UML表示法。基类Geometry包含子类Point，Curve，Surface和GeometryCollection。每个几何对象和一个空间参考系(Spatial Reference System)关联，空间参考系描述了几何对象的坐标空间。

扩展几何模型包括特定的0，1和2维集合类，即MultiPoint、MultiLineString和MultiPolygon，他们分别用于对点、线和面集合的建模。MultiCurve和MultiSurface作为抽象超类，用于产生处理曲线和面集合的接口。

#### Part 2 SQL option的Introduction介绍如下：
OpenGIS®简单要素访问规范(SFA)的第二部分，也被称作ISO 19125，定义了标准的结构化查询语句(SQL)规范，支持通过SQL调用接口(SQL/CLI) (ISO/IEC 9075-3：2003)的要素集合的存储、检索、查询和更新。一个要素同时具有空间和非空间属性。空间属性是具有几何意义(geometry valued)，同时简单要素是基于2D或更少维度的几何实体(点、曲线和面)，在二维中顶点之间可以线性插值，三维中顶点可以平面插值。这一标准是基于定义在Part 1中的常用架构组件。

在SQL实现中，单个类型的要素集合存储在一张要素表的具有几何意义的属性(列)。每个要素通常表示为这一要素表中的一行，通过标准SQL技术逻辑连接这一要素表和其他表。要素的非空间属性(列)的数据类型来自于SQL数据类型，包括SQL3的用户自定义类型(UDT)。要素的空间属性(列)的数据类型是基于本标准的SQL的几何数据类型。要素表模式可以通过两种SQL方式实现，基于SQL预定义数据类型的经典SQL关系模型，和基于附加几何类型的SQL。无论哪种实现，几何表示有一组SQL方法函数，支持几何行为和查询。

在基于预定义数据类型的实现中，具有几何意义的列通过几何表中一个几何ID实现。几何数据存储在几何表中的一行或多行，这些行具有相同的几何ID作为他们的主键。几何表可以使用标准的SQL数值类型或SQL二进制类型实现；这两者的模式在这个标准中描述。

术语“带几何类型的SQL”常用来指拓展了一套几何类型的SQL实现。在这种实现中，一个具有几何意义的列通过几何类型的列实现。拓展SQL实现类型系统的机制是通过用户自定义的类型来完成的。基于用户自定义类型的商用的SQL实现从1997年中期开始就已经存在，对于UDT定义、ISO标准也已经存在。是作为SQL类型来自这套几何类型的列来实现的。商业的支持用户定义类型支持的SQL实现从1997年中期开始就已经存在，。这个标准不是指特定的用户定义类型机制，但需要支持UDTS定义的接口标准。这些接口描述了ISO/IEC 13249-3中的SQL3 UDTs。

<img src="polygon.svg">

1.1 请给出图(a)中灰色多边形的Well-Known Text (WKT) Representation。（1分）

POLYGON((2 2,11 2,11 12,2 12,2 2),(4 4,7 4,7 9,4 9, 4 4))

1.2 基于6.1.11.1的Polygon的assertions (the rules that define valid Polygons)，请分析图(b)中几何对象不能用a polygon表示的原因。（1分）

一个多边形的内部应该是连接的，但是图b中的不连接，所以不能用一个多边形表示。

1.3 请给出图(c)中绿色多边形(A)和蓝色线(B)的Dimensionally Extended Nine-Intersection Model (DE-9IM)。（1分）

    I(B)  B(B) E(B)
I(A) 1    0    2
B(A) 0   -1    1
E(A) 1    0    2

1.4 当a.Relate(b,“T\*T\*\*\*T\*\*”)返回True时，请给出几何对象a和b所对应的空间关系。（1分）

叠加

1.5 请给出空间关系Contains的九交矩阵(9IM)的字符串表示。（1分）

T*F**F***

### 2. PostGIS实现了OGC的SFA标准，使用相应空间类型和函数时，建议查询<a href="http://postgis.net/docs/reference.html" target="_blank">帮助文档</a>。

2.1 请翻译ST_MakePoint函数在PostGIS帮助文档中的Name和Description小节内容。

Name
ST_MakePoint — Creates a 2D,3DZ or 4D point geometry.
ST_MakePoint – 创建一个2D，3DZ或4D点几何。

Description
Creates a 2D,3DZ or 4D point geometry (geometry with measure). ST_MakePoint while not being OGC compliant is generally faster and more precise than ST_GeomFromText and ST_PointFromText. It is also easier to use if you have raw coordinates rather than WKT.
创建一个2D，3DZ或4D点几何（几何和度量）。ST_MakePoint虽然并不符合OGC规范，但通常比ST_GeomFromText和ST_PointFromText更快和精确。如果你使用原始坐标，而不是WKT，ST_MakePoint也更容易使用。

  Note x is longitude and y is latitude
  注意x是经度，y是纬度。
    
Use ST_MakePointM if you need to make a point with x,y,m.
如果你需要一个具有x，y和m值的点，使用ST_MakePointM

This function supports 3d and will not drop the z-index.
本函数支持三维，不会丢弃z-index.

2.2 ST_Distance函数说明：
* For geometry type Returns the 2D Cartesian distance between two geometries in projected units (based on spatial ref). 
* For geography type defaults to return minimum geodesic distance between two geographies in meters.

在空间参考系4326下，使用ST_Distance(geometry(Point, 4326), geometry(LineString, 4326))计算距离，返回的是什么距离，单位是什么？（1分）

返回：投影单元中两个几何图形之间的最小二维笛卡尔距离即4326球坐标下点到线的二维笛卡尔距离（the 2D Cartesian distance）；单位：度（degree）

2.3 基于帮助文档，请比较=(等于号操作符)、ST_Equals和ST_OrderingEquals三个函数的异同。（1分）

=              如果A的边界框与B的相同，则返回true
ST_Equals         如果给定的几何图形表示相同的几何图形，则返回true。方向被忽略
ST_OrderingEquals    如果给定的几何图形表示相同的几何图形，且点位于相同的方向，则返回true

同：如果两个几何图形相同，返回true
异： = 的要求最低只要边界框相同即可
   ST_Equals 忽略方向性
   ST_OrderingEquals 要求点位于相同的方向

2.4 ST_Distance(Point, Polygon) <= 10和ST_DWithin(Point, Polygon, 10)功能上等价，而效率差异较大。基于帮助文档，请分析效率差异的原因。（1分）

 ST_Distance(Point, Polygon) <= 10 需要计算出具体的距离数值进行比较
 而ST_DWithin：检测一个对象是否在另一个对象的缓冲区范围内，不生成缓冲区对象，效率更高，速度更快

2.5 基于帮助文档，请比较ST_DistanceSphere(geometry pointlonlatA, geometry pointlonlatB)、ST_Distance(geometry g1, geometry g2)与ST_DistanceSpheroid(geometry pointlonlatA, geometry pointlonlatB, spheroid measurement_spheroid)三个函数的异同。（1分）

ST_DistanceSphere(geometry pointlonlatA, geometry pointlonlatB)：返回两点之间的直线距离，单位为米。使用一个球形地球，半径为6370986米；执行快，但是不精确，只适用于点；
ST_Distance(geometry g1, geometry g2)：返回投影单元中两个几何图形之间的二维笛卡尔最小距离；
ST_DistanceSpheroid(geometry pointlonlatA, geometry pointlonlatB, spheroid measurement_spheroid)：返回给定一个特定球体的两点之间的线性距离；

同：都返回两个对象之间的距离

异：ST_DistanceSphere 使用球形模型，执行速度快，不精确，只适用于点
   ST_Distance     可以返回两个地理区域之间的最小测地线距离和投影单元中两个几何图形之间的二维笛卡尔距离，使用于点线多边形
   ST_DistanceSpheroid 使用特定球体，精度较高，只使用于点之间

2.6 哪个函数可以将MultiXXX转换XXX，如MultiPolygon转换获得多个Polygon？（1分）

 geometry_dump[] ST_Dump(geometry g1)

### 3. 美国湖泊、城市、高速公路及其交通事故的空间数据库创建和查询

通过pgAdmin 4在PostgreSQL数据库中创建lab2数据库，添加postgis扩展(create extension postgis)，并连接该数据库。

In [18]:
%load_ext sql
from geom_display import display
from geom_display import choroplethMap
from geom_display import heatMap

# display([result1, result2, ...], divId, zoom)对数组中所有的result数据进行几何展示，
# result的关系类型至少包含(gid，geom，name)，zoom为放缩比例, name是在地图上描述geom的名词

# choroplethMap(result, divId, zoom)对数组中所有的result数据进行主题地图展示，
# result的关系类型至少包括(gid，geom, name, value)，zoom为放缩比例, name是在地图上描述geom的名词, value是用于映射颜色的数值

# heatMap(result, divId, zoom)对数组中所有的result数据进行热力图展示，
# result的关系类型至少包括(gid，geom，name)，zoom为放缩比例，name是在地图上描述geom的名词, 也可以给出value值，用于颜色映射，缺省都为1

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [19]:
%%sql postgresql://postgres:qwf123@localhost:5432/lab2

SET statement_timeout = 0;
SET lock_timeout = 0;
SET client_encoding = 'GBK'; 
SET standard_conforming_strings = on;
SET check_function_bodies = false;
SET client_min_messages = warning;

Done.
Done.
Done.
Done.
Done.
Done.

[]

3.1 通过PostGIS的shapefile导入工具，在PostgreSQL中导入美国accidents、highways和lakes的shapefile数据。（1分）

美国高速公路交通事故数据来源于[美国交通局](https://www.transportation.gov/fastlane/2015-traffic-fatalities-data-has-just-been-released-call-action-download-and-analyze) [白宫新闻备份](https://obamawhitehouse.archives.gov/blog/2016/08/29/2015-traffic-fatalities-data-has-just-been-released-call-action-download-and-analyze)，STATE为美国56个州的ID，ST_CASE由州ID和交通事故编号组成，交通事故发生在county和city，时间为day, month, year, day_week, hour和minute，地点在latitude和longitud，是否酒驾drunk_dr，大于0为酒驾。地点latitude和longitud存在错误数据情况，如大于1000，忽略这类错误数据。

注意shapefile文件不能放在包含中文的路径下，usaccidents、ushighways和uslakes的空间参考系需更改为4326。

In [7]:
highway_num  = %sql select count(*) from ushighways;
lake_num     = %sql select count(*) from uslakes;
accident_num = %sql select count(*) from usaccidents;
highway_srid = %sql select ST_SRID(geom) from ushighways limit 1;
lake_srid    = %sql select ST_SRID(geom) from uslakes limit 1;
accident_srid= %sql select ST_SRID(geom) from usaccidents limit 1
print 'the number of highways is ' + str(highway_num[0][0])
print 'the number of lakes is ' + str(lake_num[0][0])
print 'the number of accidents is ' + str(accident_num[0][0])
print 'the SRID of ushighways is ' + str(highway_srid[0][0])
print 'the SRID of uslakes is ' + str(lake_srid[0][0])
print 'the SRID of usaccidents is ' + str(accident_srid[0][0])

 * postgresql://postgres:***@localhost:5432/lab2
1 rows affected.
 * postgresql://postgres:***@localhost:5432/lab2
1 rows affected.
 * postgresql://postgres:***@localhost:5432/lab2
1 rows affected.
 * postgresql://postgres:***@localhost:5432/lab2
1 rows affected.
 * postgresql://postgres:***@localhost:5432/lab2
1 rows affected.
 * postgresql://postgres:***@localhost:5432/lab2
1 rows affected.
the number of highways is 233
the number of lakes is 29
the number of accidents is 32166
the SRID of ushighways is 4326
the SRID of uslakes is 4326
the SRID of usaccidents is 4326

In [8]:
# 修改usaccidents, ushighways和uslakes得SRID为4326
%sql update ushighways set geom = st_geomfromtext(ST_AsText(geom),4326)
%sql update uslakes set geom = st_geomfromtext(ST_AsText(geom),4326)
%sql update usaccidents set geom = st_geomfromtext(ST_AsText(geom),4326)

 * postgresql://postgres:***@localhost:5432/lab2
233 rows affected.
 * postgresql://postgres:***@localhost:5432/lab2
29 rows affected.
 * postgresql://postgres:***@localhost:5432/lab2
32166 rows affected.

[]

3.2 创建关系uscities(gid, name, state, latitude, longitude)，gid的数据类型为integer，name和state的数据类型为varchar(100)，latitude和longitude的数据类型为numeric。（2分）

In [9]:
%%sql  drop table if exists uscities;
CREATE TABLE uscities (
    gid integer,
    name varchar(100),
    state varchar(100),
    latitude numeric,
    longitude numeric
);

 * postgresql://postgres:***@localhost:5432/lab2
Done.
Done.

[]

3.3 通过[copy语句](https://www.postgresql.org/docs/current/static/sql-copy.html)导入uscities数据，注意属性之间的分隔符。（1分）

In [11]:
%sql copy uscities from  'D://desktop//geodatabase//lab//lab2//usdata//uscity.txt' delimiter '#';

 * postgresql://postgres:***@localhost:5432/lab2
679 rows affected.

[]

3.4 对关系uscities增加几何属性列geom，根据每个城市的latitude和longtide，更新geom属性，注意空间参考系需与ushighways和uslakes相同。（2分）

In [12]:
%%sql
alter table uscities add  geom geometry;
update uscities set geom = st_geomfromtext(ST_AsText(geom),4326);
update uscities set geom = ST_MakePoint(longitude, latitude);
update uscities set geom = st_geomfromtext(ST_AsText(geom),4326);

 * postgresql://postgres:***@localhost:5432/lab2
Done.
679 rows affected.
679 rows affected.
679 rows affected.

[]

In [ ]:
#try should be deleted
update uscities set geom= st_GeomFromText( 'Point('||
	(select to_char(longitude, '999D99999999999S') from uscities)||(select to_char(latitude, '999D99999999999S'))||')',4326 )

3.5 在QGIS中展示City图层、Highway图层、Lake图层和Accident图层，截图保存为学号.jpg，与本文件同一目录，修改下面的highways.png为你的学号，Shift+Enter能正确展示QGIS截图。可能由于浏览器图片缓存原因，修改后不能立即显示新图片，重新打开jupyter notebook验证图片是否正确显示。（1分）
<img src="3170106249.jpg">

#### 3.6 构造以下GIS分析与SQL查询，注意空间函数对Geometry和GeometryCollection的有效性。

3.6.0 查询苏必利尔湖(Superior)的边界，通过display函数在OpenStreetMap中展示该边界，display函数要求查询结果模式至少包含gid，name和geom属性。

In [13]:
query = """
select gid, 'Lake Superior''s Boundary' as name, ST_Boundary(geom) as geom
from uslakes
where name like '%Superior%'
"""
result = %sql $query

display([result], "map0", 6)

 * postgresql://postgres:***@localhost:5432/lab2
1 rows affected.

3.6.1 查询伊利湖(Erie)几何数据中点的数目（2分）

In [20]:
%%sql 
select ST_NPoints(geom)
from uslakes
where name like '%Erie%'

 * postgresql://postgres:***@localhost:5432/lab2
1 rows affected.

[(51,)]

3.6.2 查询高速公路全称(full_name)为’I 279’的凸包，通过display函数在OpenStreetMap中展示该凸包，display函数要求查询结果模式至少包含gid，name和geom属性（2分）

In [6]:
query = """ 
SELECT 
gid,full_name as name ,ST_ConvexHull(ushighways.geom) As geom
FROM ushighways 
where full_name like '%I 279%'

""" 
result1 = %sql $query
result2 = %sql select gid, geom, full_name as name from ushighways where full_name = 'I 279'

display([result1, result2], "map1", 11)

 * postgresql://postgres:***@localhost:5432/lab2
1 rows affected.
 * postgresql://postgres:***@localhost:5432/lab2
1 rows affected.

3.6.3 查询哪些湖中有岛，通过display函数在OpenStreetMap中展示这些湖，display函数要求查询结果模式至少包含gid，name和geom属性（2分）

In [7]:
query = """

select uslakes.gid,uslakes.name,uslakes.geom
from(
SELECT gid, name, SUM(ST_NumInteriorRings(geom)) AS numholes
FROM (SELECT gid, name, (ST_Dump(geom)).geom As geom
	FROM uslakes) As foo
GROUP BY gid, name)aaa , uslakes

where uslakes.gid = aaa.gid and aaa.numholes > 0

"""

result = %sql $query

display([result], "map2", 4)

 * postgresql://postgres:***@localhost:5432/lab2
4 rows affected.

3.6.4 查询湖的面积属性是否准确(绝对误差小于1e-6)，列出面积属性不准确的湖及其误差，查询结果模式为(gid，name，error)（2分）<br/>
**数据清洗与验证**：数据输入时，可能存在错误或误差，此时需要通过数据清理Data Cleaning，对数据进行验证和纠错

In [9]:
%%sql 
select gid , name, (foo.shape_area - foo.sqft) as error
from(
  select gid,name,shape_leng,shape_area,geom, ST_Area(geom) sqft,
    ST_Area(geom) * 0.3048 ^ 2 sqm
    from uslakes)foo
    where foo.shape_area - foo.sqft > 1e-6 or foo.shape_area - foo.sqft < -1e-6

 * postgresql://postgres:***@localhost:5432/lab2
3 rows affected.

[(9, u'Great Salt Lake', 0.100000000002882),
 (24, u'Lake Erie', 0.000199999997946065),
 (29, u'Lake Oahe', -0.0999999999979956)]

3.6.5 查询最长的高速公路及其长度(单位为千米)，通过display函数在OpenStreetMap中展示该高速公路，查询结果模式为(gid，name，geom，length)，其中name为高速公路的full_name（2分）

In [12]:
query = """

SELECT gid ,full_name as name, geom,ST_LengthSpheroid( geom,
  'SPHEROID["WGS_WGS_1984",6378137.0,298.257223563]' )/100 as length
  FROM ushighways
  order by length desc
  limit 1 

"""

result = %sql $query
print result[0]['length']

display([result], "map3", 4)

 * postgresql://postgres:***@localhost:5432/lab2
1 rows affected.
46482.055715

3.6.6 查询与苏必利尔湖(Superior)的质心距离最近的城市，通过display函数在OpenStreetMap中展示该湖和城市，display函数要求查询结果模式至少包含gid，name和geom属性，其中城市的name为‘name in state’的格式（2分）

In [4]:
query = """ 

select gid, qq.name||' in '||state as name, qq.geom,ST_Distance(qq.geom,qq.geom1) as dis
from
(select gid, name, state,uscities.geom, tt.geom as geom1 from
(SELECT st_centroid(gg.geom) as geom
FROM  (select geom from uslakes
       where name like '%Superior%' ) gg) tt,uscities)qq
order by dis
limit 1

"""

result1 = %sql $query
result2 = %sql select gid, name, geom from uslakes where name like '%Superior%';

display([result1, result2], "map4", 6)

 * postgresql://postgres:***@localhost:5432/lab2
1 rows affected.
 * postgresql://postgres:***@localhost:5432/lab2
1 rows affected.

3.6.7 查询距离ST_CASE = 10001交通事故最近的城市，查询返回距离最近的城市名'name in state'，不能使用关键词limit（2分）

In [7]:
%%sql 
select name||' in '||state as name from
(select qq.name,qq.state, ST_Distance(qq.geom,qq.geom1) as dis from
(select uscities.name, uscities.state, uscities.geom, usaccidents.geom as geom1  from 
usaccidents ,uscities
where ST_CASE = 10001) qq)foo

where dis = (select min(dis) from (select qq.name,qq.state, ST_Distance(qq.geom,qq.geom1) as dis from
(select uscities.name, uscities.state, uscities.geom, usaccidents.geom as geom1  from 
usaccidents ,uscities
where ST_CASE = 10001) qq)foo)

 * postgresql://postgres:***@localhost:5432/lab2
1 rows affected.

[(u'Birmingham in Alabama',)]

3.6.8 查询94号公路(gid=94)与哪些高速公路联通，不包括94号公路，求总长度（单位为千米），通过display函数在OpenStreetMap中展示这些高速公路，display函数要求查询结果模式至少包含gid，name和geom属性，其中name为高速公路的full_name（3分）

In [9]:
# 查询联通的高速公路
query = """

select gid,name,geom from
(select gid, name ,geom,geom1 ,st_intersects(geom,geom1) as isinter from 
ushighways,(select geom as geom1 from ushighways where gid = 94)aa)foo
where isinter = true

"""

result1 = %sql $query
result2 = %sql select gid,geom, full_name as name from ushighways where gid = 94

display([result1, result2], "map5", 5)

# 查询总长度
query2 = """

select sum(length) as sumlength from
(select gid,name,geom,ST_LengthSpheroid( geom,
  'SPHEROID["WGS_WGS_1984",6378137.0,298.257223563]' )/100 as length from
(select gid, name ,geom,geom1 ,st_intersects(geom,geom1) as isinter from 
ushighways,(select geom as geom1 from ushighways where gid = 94)aa)foo
where isinter = true)yy

"""

%sql $query2

 * postgresql://postgres:***@localhost:5432/lab2
3 rows affected.
 * postgresql://postgres:***@localhost:5432/lab2
1 rows affected.

 * postgresql://postgres:***@localhost:5432/lab2
1 rows affected.

[(24638.625630021,)]

3.6.9 查询与伊利湖(Erie)距离最近的高速公路，通过display函数在OpenStreetMap中展示该湖和高速公路，display函数要求查询结果模式至少包含gid，name和geom属性，其中高速公路的name为full_name（3分）

In [11]:
query = """

 select gid,full_name as name,ushighways.geom, ST_Distance(ushighways.geom,a.geom) as dis from
ushighways,(select geom from uslakes where name like '%Erie%') a
order by dis
limit 1

"""

result1 = %sql $query
result2 = %sql select gid, name, geom from uslakes where name like '%Erie%'

display([result1, result2], "map6", 4)

 * postgresql://postgres:***@localhost:5432/lab2
1 rows affected.
 * postgresql://postgres:***@localhost:5432/lab2
1 rows affected.

3.6.10 查询哪个城市最偏僻，即离高速公路的距离最远，通过display函数在OpenStreetMap中展示最偏僻的城市和与其最近的高速公路，display函数要求查询结果模式至少包含gid，name和geom属性，其中高速公路的name为full_name（3分）

In [13]:
# 查询最偏僻的城市
query1 = """
select *from
(select uscities.gid,uscities.name,uscities.geom,
ushighways.gid as gid1,ushighways.full_name as name1,ushighways.geom as geom1,
ST_Distance(ushighways.geom,uscities.geom) as dis
from uscities,ushighways) a
where a.dis in(
 select min(dis)
 from (select uscities.gid,uscities.name,uscities.geom,
ushighways.gid as gid1,ushighways.full_name as name1,ushighways.geom as geom1,
ST_Distance(ushighways.geom,uscities.geom) as dis
from uscities,ushighways) a
 group by name
)
order by dis desc
limit 1

"""

result1 = %sql $query1

# 查询与最偏僻的城市最近的高速公路
query2 = """ 
select *from
(select uscities.gid as gid1,uscities.name as name1,uscities.geom as geom1,
ushighways.gid ,ushighways.full_name as name,ushighways.geom ,
ST_Distance(ushighways.geom,uscities.geom) as dis
from uscities,ushighways) a
where a.dis in(
 select min(dis)
 from (select uscities.gid,uscities.name,uscities.geom,
ushighways.gid as gid1,ushighways.full_name as name1,ushighways.geom as geom1,
ST_Distance(ushighways.geom,uscities.geom) as dis
from uscities,ushighways) a
 group by name
)
order by dis desc
limit 1
"""

result2 = %sql $query2

display([result1, result2], "map7", 4)

 * postgresql://postgres:***@localhost:5432/lab2
1 rows affected.
 * postgresql://postgres:***@localhost:5432/lab2
1 rows affected.

3.6.11 查询哪些高速公路穿越湖，列出高速公路及其在湖中的长度，按长度从长到短排列，通过display函数在OpenStreetMap中展示这些高速公路和湖，display函数要求查询结果模式至少包含gid，name和geom属性， 其中高速公路的hname为full_name（3分）

In [25]:
# 查询穿越湖的公路
query1 = """ 
select uslakes.gid as gid1,uslakes.name as name1,uslakes.geom as geom1 ,
      ushighways.gid ,ushighways.full_name as name,ushighways.geom 
  from uslakes,ushighways
  where st_intersects(uslakes.geom,ushighways.geom) = true
""" 

result1 = %sql $query1

# 查询被公路穿越的湖
query2 = """ 
select uslakes.gid,uslakes.name,uslakes.geom,
      ushighways.gid as gid1,ushighways.full_name,ushighways.geom as geom1
      from uslakes,ushighways
      where st_intersects(uslakes.geom,ushighways.geom) = true
"""

result2 = %sql $query2

display([result1, result2], "map8", 4)

# 查询高速公路在湖中的长度(hgid, hname, lgid, lname, length)
query3 = """ 
select gid as hgid,name as hname ,gid1 as lgid, name1 as lname,
ST_LengthSpheroid( geom2,'SPHEROID["WGS_WGS_1984",6378137.0,298.257223563]' )/100 as length   from

(select gid,name, ST_Intersection(geom1,geom) as geom2, gid1, name1  from 
(select uslakes.gid as gid1,uslakes.name as name1,uslakes.geom as geom1 ,
      ushighways.gid ,ushighways.full_name as name,ushighways.geom 
  from uslakes,ushighways
  where st_intersects(uslakes.geom,ushighways.geom) = true)ww)rr
  order by length desc
"""
%sql $query3

 * postgresql://postgres:***@localhost:5432/lab2
8 rows affected.
 * postgresql://postgres:***@localhost:5432/lab2
8 rows affected.

 * postgresql://postgres:***@localhost:5432/lab2
8 rows affected.

[(183, u'I 75', 27, u'Lake Huron', 81.3055186427445),
 (10, u'I 15', 9, u'Great Salt Lake', 78.4304918383249),
 (200, u'I 81', 28, u'Lake Ontario', 64.1977147934207),
 (183, u'I 75', 11, u'Lake Michigan', 43.3525002225074),
 (137, u'I 535', 26, u'Lake Superior', 30.0973319776501),
 (168, u'I 69', 27, u'Lake Huron', 6.35554789093596),
 (40, u'I 24', 19, u'Lake Barkley', 5.99496194450226),
 (139, u'I 55', 11, u'Lake Michigan', 0.0894350189602796)]

3.6.12 将交通事故与高速公路基于空间距离进行关联，即距离某高速公路小于500米，认为该交通事故发生在这条高速公路上，查询哪条高速公路上的交通事故最多？由于交通事故较多，完整的查询大约需要30分钟，可以使用ST_DWithin加速距离判断，同时仅考虑在7月和8月发生的交通事故。通过display函数在OpenStreetMap中展示这些高速公路和其关联的交通事故，display函数要求查询结果模式至少包含gid，name和geom属性，其中高速公路的name为full_name（4分）<br/>
**空间关联查询**：此类空间关联查询是数据挖掘中的常见方法，应用较为广泛，如[道路与车辆关联](https://www.csdn.net/article/2015-01-23/2823687-geographic-space-base-Hadoop)分析道路拥堵情况？

In [31]:
# 查询满足题意的高速公路
query1 = """
select ushighways.gid,ushighways.full_name as name,ushighways.geom,
      count(*) as counts
 from ushighways,(select * from usaccidents
                  where usaccidents.month = 7 or usaccidents.month = 8 ) a
 where  ST_DWithin(a.geom,ushighways.geom,0.5) = true
 group by ushighways.gid
 order by counts desc
 limit 1
"""

result1 = %sql $query1
print result1[0].gid

# 查询该高速公路上的交通事故
query2 = """ 
select foo.gid,foo.name as name,foo.geom
from
(select ushighways.gid,ushighways.full_name as name,ushighways.geom,
      count(*) as counts
 from ushighways,(select * from usaccidents
                  where usaccidents.month = 7 or usaccidents.month = 8 ) a
 where  ST_DWithin(a.geom,ushighways.geom,0.5) = true
 group by ushighways.gid
 order by counts desc
 limit 1) b,(select ushighways.gid as gid1,a.gid,a.st_case as name,a.geom
              from ushighways,(select * from usaccidents
                              where usaccidents.month = 7 or usaccidents.month = 8 ) a
 where  ST_DWithin(a.geom,ushighways.geom,0.5) = true) foo
 where b.gid = foo.gid1
"""

result2 = %sql $query2

display([result1, result2], "map9", 4, 1)

 * postgresql://postgres:***@localhost:5432/lab2
1 rows affected.
220
 * postgresql://postgres:***@localhost:5432/lab2
793 rows affected.

In [14]:
%sql update cal set geom = st_geomfromtext(ST_AsText(geom),4326)

 * postgresql://postgres:***@localhost:5432/lab2
1 rows affected.

[]

3.6.13 导入加州cal的shapefile文件，计算加州的经纬度范围，在该范围内，基于课堂练习4网格生成方法构建$50\times46$，即X方向50，Y方向46，网格与加州多边形求交，即边界上的方格仅保留与加州相交的部分，统计每个方格内的交通事故数目，通过choroplethMap进行可视化，choroplethMap函数要求查询结果模式至少包含gid，name，geom和value属性，其中value为其内的交通事故数目（4分）<br/>
**空间网格关联查询**：此类空间网格关联查询在实际应用中较为常见，如滴滴和Uber基于六边形网格统计打车人数，进行实时调价，[Uber Deck Grid and Hexagon layers](https://eng.uber.com/deck-gl-4-0/)
<img src="hexagon.jpg">

In [22]:
query = """
WITH 
    usext AS (
        SELECT 
            ST_SetSRID(CAST(ST_Extent(geom) AS geometry),
            4326) AS geom_ext, 50 AS x_gridcnt, 46 AS y_gridcnt
        FROM cal
    ),
    grid_dim AS (
        SELECT 
            (
                ST_XMax(geom_ext)-ST_XMin(geom_ext)
                ) / x_gridcnt AS g_width, 
            ST_XMin(geom_ext) AS xmin, ST_xmax(geom_ext) AS xmax,
            (
                ST_YMax(geom_ext)-ST_YMin(geom_ext)
                ) / y_gridcnt AS g_height,     
            ST_YMin(geom_ext) AS ymin, ST_YMax(geom_ext) AS ymax
        FROM usext                                    
    ), 
    grid AS (                    
        SELECT 
            x, y, 
            ST_MakeEnvelope(  
                xmin + (x - 1) * g_width, ymin + (y - 1) * g_height,  
                xmin + x * g_width, ymin + y * g_height,
                4326
            ) AS grid_geom 
        FROM 
            (SELECT generate_series(1,x_gridcnt) FROM usext) AS x(x)    
            CROSS JOIN 
            (SELECT generate_series(1,y_gridcnt) FROM usext) AS y(y) 
            CROSS JOIN 
            grid_dim                                                 
    ) 
select x as gid ,y as name,geom,count(*) as value from(
select foo.x,foo.y,foo.geom ,usaccidents.gid from
(SELECT 
    g.x, g.y ,
    ST_Intersection(s.geom, grid_geom) AS geom 
FROM cal AS s INNER JOIN grid AS g 
ON ST_Intersects(s.geom,g.grid_geom))as foo,usaccidents				 
where ST_Contains(foo.geom,usaccidents.geom)
				 )gg
 group by x,y,geom
"""

result = %sql $query

choroplethMap(result, "map10", 6, 1)

 * postgresql://postgres:***@localhost:5432/lab2
483 rows affected.

3.6.14 查询在加州范围内的交通事故，通过heatMap进行可视化，heatMap函数要求查询结果模式至少包含gid，name和geom属性，其中name可为任意值，并对比ChoroplethMap与HeatMap在地理空间数据可视化方面的异同（3分）<br/>
**数据可视化**：利用人眼的感知能力对数据进行交互的可视表达以增强认知的技术，是数据分析的有效手段，如[Uber数据可视化](http://dataunion.org/24227.html)

In [20]:
query = """
select usaccidents.gid,usaccidents.gid as name,usaccidents.geom
from usaccidents,cal
where St_Contains(cal.geom,usaccidents.geom)
"""

result = %sql $query

heatMap(result, "map11", 4, 1)

 * postgresql://postgres:***@localhost:5432/lab2
2897 rows affected.

ChoroplethMap与HeatMap在地理空间数据可视化方面的异同
相同：两种地图都是反映事物分布的情况
不同
Choroplethmap反映各区现象的集中程度或发展水平的分布差别，有明确的数量
Heatmap反映的是大致的集中情况，没有明确的数量

### 3.7 酒驾交通事故分析

美国交通局：We' re directly soliciting your help to better understand what these data are telling us. Whether you' re a non-profit, a tech company, or just a curious citizen wanting to contribute to the conversation in your local community, we want you to jump in and help us understand what the data are telling us. Some key questions worth exploring:
* How might improving economic conditions around the country change how Americans are getting around? What models can we develop to identify communities that might be at a higher risk for fatal crashes?
* How might climate change increase the risk of fatal crashes in a community? 
* How might we use studies of attitudes toward speeding, distracted driving, and seat belt use to better target marketing and behavioral change campaigns?
* How might we monitor public health indicators and behavior risk indicators to target communities that might have a high prevalence of behaviors linked with fatal crashes (drinking, drug use/addiction, etc.)? What countermeasures should we create to address these issues?

<img src="drunk.jpg">

美国交通局在2018年开展了[Visualize Transportation Safety](https://www.transportation.gov/solve4safety)可视化挑战赛。

3.7.1 酒驾是否在周末更容易发生？构造SQL语句查询工作日平均每日酒驾事件数与周末平均每日酒驾事件数(avg_weekday_count, avg_weekend_count)，保留到小数点后4位，分析查询结果给出结论，注意中美文化差异中星期起始日的差别（3分）<br/>

In [33]:
%%sql
select ROUND((week_a*1.0/all_week_day),4) avg_weekday_count , ROUND((weekend_a*1.0/all_weekend_day),4) as avg_weekend_count from
(
select count(*) as weekend_a
from usaccidents
                  where day_week = 5 or day_week = 6 and drunk_dr = 1) a,
(
select count(*) as week_a 
from usaccidents
                  where day_week != 5 and day_week != 6 and drunk_dr = 1)b,
(
select count(*) as all_weekend_day
from usaccidents
                  where day_week = 5 or day_week = 6)c,
(
select count(*) as all_week_day
from usaccidents
                 where day_week != 5 and day_week != 6)d

 * postgresql://postgres:***@localhost:5432/lab2
1 rows affected.

[(Decimal('0.2796'), Decimal('0.6093'))]

结论：从结果可以看出周末酒驾的平均次数明显高于工作日；周末应该加大执法力度，控制酒驾

3.7.2 (附加题) 酒驾交通事故在工作日和休息日在哪个时间段发生较多？构造SQL语句查询(hour, avg_weekday_count, avg_weekend_count)，保留到小数点后4位，分析查询结果给出结论（2分）

In [41]:
%%sql
select *from(
select aa.hour,round((week_a_hour*1.0/all_week_day),4) as  avg_weekday_count,
round((weekend_a_hour*1.0/all_weekend_day),4) as  avg_weekend_count from
(select hour,sum(sum1) as weekend_a_hour from
(
  select day_week,hour,count(*) sum1
  from usaccidents
  where drunk_dr = 1 
  group by day_week,hour
  order by day_week,hour )a
 where day_week = 5 or day_week = 6
group by hour) aa,
(
select hour,sum(sum1) as week_a_hour from
(
  select day_week,hour,count(*) sum1
  from usaccidents
  where drunk_dr = 1 
  group by day_week,hour
  order by day_week,hour )b
 where day_week != 5 and day_week != 6
group by hour
)bb,(
select count(*) as all_weekend_day
from usaccidents
                  where day_week = 5 or day_week = 6)c,
(
select count(*) as all_week_day
from usaccidents
                 where day_week != 5 and day_week != 6)d

where aa.hour = bb.hour and aa.hour<25)gg  
order by (avg_weekday_count+avg_weekend_count) desc

 * postgresql://postgres:***@localhost:5432/lab2
24 rows affected.

[(1.0, Decimal('0.0222'), Decimal('0.0171')),
 (2.0, Decimal('0.0241'), Decimal('0.0149')),
 (21.0, Decimal('0.0182'), Decimal('0.0204')),
 (23.0, Decimal('0.0169'), Decimal('0.0209')),
 (22.0, Decimal('0.0165'), Decimal('0.0207')),
 (0.0, Decimal('0.0207'), Decimal('0.0161')),
 (20.0, Decimal('0.0179'), Decimal('0.0172')),
 (19.0, Decimal('0.0165'), Decimal('0.0146')),
 (18.0, Decimal('0.0154'), Decimal('0.0145')),
 (3.0, Decimal('0.0180'), Decimal('0.0109')),
 (17.0, Decimal('0.0135'), Decimal('0.0116')),
 (16.0, Decimal('0.0099'), Decimal('0.0080')),
 (4.0, Decimal('0.0107'), Decimal('0.0053')),
 (15.0, Decimal('0.0079'), Decimal('0.0078')),
 (5.0, Decimal('0.0080'), Decimal('0.0051')),
 (14.0, Decimal('0.0058'), Decimal('0.0059')),
 (13.0, Decimal('0.0052'), Decimal('0.0055')),
 (6.0, Decimal('0.0069'), Decimal('0.0035')),
 (7.0, Decimal('0.0050'), Decimal('0.0046')),
 (12.0, Decimal('0.0040'), Decimal('0.0035')),
 (11.0, Decimal('0.0041'), Decimal('0.0028')),
 (9.0, Decimal('0.0026'), Decimal('0.0023')),
 (8.0, Decimal('0.0025'), Decimal('0.0022')),
 (10.0, Decimal('0.0032'), Decimal('0.0014'))]

结论： 0、上述排序总和周末和工作日的情况
     1、酒驾集中出现在晚饭后面，中午较少，特别是深夜
     2、单从周末来看21/22/23这三个小时酒驾较多
     3、单从工作日来看0/1/2折三个小时酒驾较多

3.7.3 (附加题) 酒驾交通事故次数在每个小时上是否与总的交通事故次数成正比？在一天的哪些小时上，酒驾是交通事故的主要原因？构造SQL语句分析（2分）

In [36]:
%%sql
select a.hour,count_drunk,count_all,round((count_drunk*1.0/count_all),4) as drunk_ri from 
(select hour, count(*) as count_drunk
from usaccidents
where drunk_dr = 1
group by hour)a,

(select hour, count(*) as count_all
from usaccidents
group by hour)b
where a.hour = b.hour
order by hour

 * postgresql://postgres:***@localhost:5432/lab2
25 rows affected.

[(0.0, 624L, 1252L, Decimal('0.4984')),
 (1.0, 667L, 1200L, Decimal('0.5558')),
 (2.0, 691L, 1188L, Decimal('0.5816')),
 (3.0, 514L, 936L, Decimal('0.5491')),
 (4.0, 293L, 741L, Decimal('0.3954')),
 (5.0, 230L, 988L, Decimal('0.2328')),
 (6.0, 191L, 1185L, Decimal('0.1612')),
 (7.0, 158L, 1131L, Decimal('0.1397')),
 (8.0, 77L, 906L, Decimal('0.0850')),
 (9.0, 80L, 948L, Decimal('0.0844')),
 (10.0, 86L, 1019L, Decimal('0.0844')),
 (11.0, 120L, 1117L, Decimal('0.1074')),
 (12.0, 123L, 1205L, Decimal('0.1021')),
 (13.0, 171L, 1376L, Decimal('0.1243')),
 (14.0, 188L, 1489L, Decimal('0.1263')),
 (15.0, 253L, 1669L, Decimal('0.1516')),
 (16.0, 301L, 1624L, Decimal('0.1853')),
 (17.0, 417L, 1826L, Decimal('0.2284')),
 (18.0, 486L, 1878L, Decimal('0.2588')),
 (19.0, 513L, 1758L, Decimal('0.2918')),
 (20.0, 569L, 1836L, Decimal('0.3099')),
 (21.0, 606L, 1792L, Decimal('0.3382')),
 (22.0, 569L, 1538L, Decimal('0.3700')),
 (23.0, 580L, 1315L, Decimal('0.4411')),
 (99.0, 110L, 249L, Decimal('0.4418'))]

结论：从结果来看，酒驾交通事故次数在每个小时上不与与总的交通事故次数成正比
    从一天的23点到第二天的4点左右酒驾是交通事故的主要原因，大部分占比在0.4以上

3.7.4 (附加题) 分析工作日与周末在每个小时上发生的酒驾交通事故占该时段总事故数的平均比例，定义酒驾占比超过50%的时段为酒驾易发时段，构造SQL语句分析周末与非周末酒驾易发时段的差异及其主要原因（2分）

In [43]:
%%sql
select hour,round((week_day_drunk_count*1.0/week_all_hour),4) as week_drunk_ri,
 round((weekend_day_drunk_count*1.0/weekend_all_hour),4) as wenkend_drunk_ri   from (

select aa.hour,weekend_a_hour as  weekend_day_drunk_count,
               week_a_hour     as  week_day_drunk_count , week_all_hour,  weekend_all_hour
from
(
    select hour,sum(sum1) as weekend_a_hour from
(
  select day_week,hour,count(*) sum1
  from usaccidents
  where drunk_dr = 1 
  group by day_week,hour
  order by day_week,hour )a
 where day_week = 5 or day_week = 6
group by hour) aa,
(
select hour,sum(sum1) as week_a_hour from
(
  select day_week,hour,count(*) sum1
  from usaccidents
  where drunk_dr = 1 
  group by day_week,hour
  order by day_week,hour )b
 where day_week != 5 and day_week != 6
group by hour)bb,
     (select hour,sum(sum1) as weekend_all_hour from
(
  select day_week,hour,count(*) sum1
  from usaccidents
  group by day_week,hour
  order by day_week,hour )a
 where day_week = 5 or day_week = 6
group by hour) cc,
(
select hour,sum(sum1) as week_all_hour from
(
  select day_week,hour,count(*) sum1
  from usaccidents
  group by day_week,hour
  order by day_week,hour )b
 where day_week != 5 and day_week != 6
group by hour
)dd,
     (
select count(*) as all_weekend_day
from usaccidents
                  where day_week = 5 or day_week = 6)c,
(
select count(*) as all_week_day
from usaccidents
                 where day_week != 5 and day_week != 6)d

where aa.hour = bb.hour and cc.hour =dd.hour and aa.hour = cc.hour and aa.hour< 25) cvvv

 * postgresql://postgres:***@localhost:5432/lab2
24 rows affected.

[(0.0, Decimal('0.5011'), Decimal('0.4901')),
 (1.0, Decimal('0.5674'), Decimal('0.5215')),
 (2.0, Decimal('0.5896'), Decimal('0.5520')),
 (3.0, Decimal('0.5611'), Decimal('0.5050')),
 (4.0, Decimal('0.4349'), Decimal('0.2722')),
 (5.0, Decimal('0.2563'), Decimal('0.1715')),
 (6.0, Decimal('0.1939'), Decimal('0.0877')),
 (7.0, Decimal('0.1497'), Decimal('0.1185')),
 (8.0, Decimal('0.0900'), Decimal('0.0733')),
 (9.0, Decimal('0.0870'), Decimal('0.0778')),
 (10.0, Decimal('0.1004'), Decimal('0.0445')),
 (11.0, Decimal('0.1184'), Decimal('0.0805')),
 (12.0, Decimal('0.1064'), Decimal('0.0914')),
 (13.0, Decimal('0.1257'), Decimal('0.1211')),
 (14.0, Decimal('0.1262'), Decimal('0.1264')),
 (15.0, Decimal('0.1535'), Decimal('0.1469')),
 (16.0, Decimal('0.2018'), Decimal('0.1483')),
 (17.0, Decimal('0.2377'), Decimal('0.2050')),
 (18.0, Decimal('0.2621'), Decimal('0.2505')),
 (19.0, Decimal('0.3019'), Decimal('0.2668')),
 (20.0, Decimal('0.3203'), Decimal('0.2860')),
 (21.0, Decimal('0.3325'), Decimal('0.3513')),
 (22.0, Decimal('0.3618'), Decimal('0.3871')),
 (23.0, Decimal('0.4462'), Decimal('0.4311'))]

结论：周末酒驾易发时段1/2/3
    非周末酒驾易发时段0/1/2/3
    非周末的酒驾比周末早发生一个小时，估计是人们考虑到，工作日明天还要事情要做，所以会选择早一点回家

3.7.5 分析周末与非周末哪些高速公路上发生酒驾次数有较大差异，距离某高速公路小于500米，认为该交通事故发生在这条高速公路上，通过choroplethMap进行可视化，choroplethMap函数要求查询结果模式至少包含gid，name，geom和value属性，其中value为其内的交通事故数目（3分）

In [45]:
# 查询非周末每条高速公路上的酒驾次数
query1 = """
select ushighways.gid,full_name as name,ushighways.geom, count(*) as value
from ushighways,usaccidents
where usaccidents.day_week != 5 and usaccidents.day_week!=6 and ST_DWithin(usaccidents.geom,ushighways.geom,0.5) = true and drunk_dr =1
group by ushighways.gid
order by value desc
"""

result1 = %sql $query1

# 查询周末每条高速公路上的酒驾次数
query2 = """ 
select ushighways.gid,full_name as name,ushighways.geom, count(*) as value
from ushighways,usaccidents
where usaccidents.day_week = 5 or usaccidents.day_week=6 and ST_DWithin(usaccidents.geom,ushighways.geom,0.5) = true and drunk_dr =1
group by ushighways.gid
order by value desc
"""

result2 = %sql $query2

choroplethMap(result1, "map12", 4, 1)
choroplethMap(result2, "map13", 4, 1)

 * postgresql://postgres:***@localhost:5432/lab2
233 rows affected.
 * postgresql://postgres:***@localhost:5432/lab2
233 rows affected.

结论：周末  I 95、I 10、I 75、I 80、I 5、I 40、I 20为酒驾发生前七位
        I 182 、I189、I 115、I29L、I474、I315 I535 为后七位
    非周末 I 95、I 10、I 75、I 80、I 20、I 70 、I 40为酒驾发生前七位
         I 44 S、I129、I182、I189、I790、I115、I315 为后七位
         周末与非周末的前七位I5和I70变化较大
         后七位除了 I 182 、I189、I 115、I315不变外，其他均发生改变

3.7.6 (附加题) 基于数据进行其他酒驾交通事故分析（2分）

In [ ]:
#假如我经常走“I 95”这条高速，为了避开被酒驾的车撞到，查询这条路的那时间段酒驾最多、最少的时间，给出行驶建议
#从下面的查询结果可知 最好避开 深夜行驶，最好的行驶时间差不多在中午

In [46]:
%%sql
select hour,count(*) as count_by_hour from (
select hour, usaccidents.gid

from usaccidents,ushighways
where drunk_dr = 1 and full_name like '%I 95%' and ST_DWithin(usaccidents.geom,ushighways.geom,0.05) = true)a
group by hour
order by count_by_hour desc

 * postgresql://postgres:***@localhost:5432/lab2
23 rows affected.

[(2.0, 30L),
 (1.0, 28L),
 (0.0, 22L),
 (21.0, 22L),
 (4.0, 19L),
 (3.0, 17L),
 (22.0, 17L),
 (23.0, 14L),
 (20.0, 13L),
 (18.0, 12L),
 (5.0, 8L),
 (16.0, 8L),
 (17.0, 7L),
 (14.0, 7L),
 (19.0, 6L),
 (6.0, 5L),
 (7.0, 5L),
 (13.0, 5L),
 (12.0, 3L),
 (15.0, 3L),
 (11.0, 3L),
 (10.0, 2L),
 (8.0, 2L)]

### 实习感想

收获:-)，疑惑:-|，吐槽:-(，...，你的反馈很重要