# 实习4 空间数据库设计

姓名：施能

学号：3140100193

**实习目的：**了解数据库设计基本流程和设计异常，了解静态空间数据的获取方式，熟悉空间扩展E-R图，掌握关系数据库规范化设计方法，掌握数据的ETL过程（数据抽取Extract、清洗Clean、转换Transform、转载Load），熟悉多源数据融合。

**注意事项：**
* 可以创建新的Cell用于测试，但问题回答和SQL语句写在相应的Cell中，SQL语句按Shift+Enter执行
* 看到 `In [*]:` ，意味着该Cell的SQL语句正在执行
    * **如果运行时间过长：重新连接数据库，需要重新开始整个Kernel**
    * 菜单"Kernel >> Restart & Clear Output", 重新执行SQL连接、数据库创建等前面的Cell 
* 注意:
    * `%sql [SQL]` 是 _single line_ SQL queries
    * `%%sql [SQL]` 是 _multi line_ SQL queries
* 实习4总分40分，实习考察的题目后面标了具体分数
* 学号.jpg和实习4\_学号\_姓名.ipynb替换其中的学号和姓名，包含执行结果，和jsonData目录一起压缩为__实习4\_学号\_姓名.rar__，发送到zjusdb@163.com
* 实习4截止日期**2016.5.1**

### 1. 空间数据应用

<a href="http://geospatialrevolution.psu.edu/" target="_blank">Geospatial Revolution</a>是关于地理空间革命的科普视频，共4集，每集内容描述如下：
* Episode 1: covers what is involved in the geospatial revolution, the origins of mapping and geospatial technology, and a look at the use of crisis mapping in Haitian earthquake relief efforts.
* Episode 2: looks at how local governments and business use geospatial technology to deliver services and run efficiently, keeping a continuing eye on future developments and applications.
* Episode 3: explores geospatial technology in the world of security: how new technologies help to broker peace, wage war, and fight crime but can also compromise personal privacy.
* Episode 4: explores geospatial technology around the world: monitoring global climate change, preventing famine, tracking disease and mapping communities never before seen on a map.

观看Geospatial Revolution Episode 2，<a href="http://www.tudou.com/programs/view/EJqHsCy59QE/" target="_blank">土豆链接</a>，从中选择一个你最感兴趣的应用，请用1-2句话描述选择的应用，并给出可能需要哪些地理空间数据？（2分）

This application is called PDX Bus, it is using GPS and service to tell you the bus which is arriving right now and is able to allow better-informed decisions.
To implement the service, it is using a system called TransitTracker, it implement computers on board all of their buses. It needs information about real-time location of the buses and their customers' location.

### 2. 空间扩展E-R图

某地理空间项目需求分析获得了以下实体及其属性：<br/>
* countries: name, boundary, area, population, gdp
* cities: name, position, population
* rivers: name, centerline, length
* seas: name, boundary, max depths

上述4个实体的联系或约束如下：
* 每个城市只属于一个国家
* 每条河流穿越一个或多个国家
* 每条河流终止于另一条河流或海洋

#### 2.1 空间扩展E-R图（8分）

countries实体的哪些属性是空间属性，给出其最恰当的几何类型及理由。

boundary也是空间属性，其几何类型应该是MultiLineString，考虑到某些国家（如美国）的国土由多个多边形组成。

cities实体的哪些属性是空间属性，给出其最恰当的几何类型及理由。

position属性应该是空间属性，其几何类型是Point，因为相对于国家来说，城市足够下，可以用点来处理。

rivers实体的哪些属性是空间属性，给出其最恰当的几何类型及理由。

centerline属性是空间属性，其类型为LineString。

seas实体的哪些属性是空间属性，给出其最恰当的几何类型及理由。

boundary属性是空间属性，其几何类型为MultiLineString。

空间扩展E-R图可以使用软件或手工绘图，用实体的象形图进行标注，联系需给出联系类型，截图或照片保存为学号.png，与本文件同一目录，修改下面的E-R为你的学号，Shift+Enter能正确展示空间扩展E-R图（如浏览器缓存数据，请重启Kernel查询空间扩展E-R图）。

<img src="3140100193.png">

#### 2.2 函数依赖（4分）

基于现实世界语义（如无重名城市或河流等），分析每个实体中存在的**完全非平凡**函数依赖，并回答是否属于BCNF。

countries实体存在哪些完全非平凡的函数依赖，是否属于BCNF？

name->area,polulation,gdp,boundary
boundary->area,polulation,gdp,name
属于BCNF

rivers实体存在哪些完全非平凡的函数依赖，是否属于BCNF？

name->centerline,length
centerline->name,length
属于BCNF

cities实体存在哪些完全非平凡的函数依赖，是否属于BCNF？

name->position,position
position->name,polulation
属于BCNF

seas实体存在哪些完全非平凡的函数依赖，是否属于BCNF？

name->boundary,max depths
boundary->name,max depths
属于BCNF

### 3. 数据库逆向设计
礼品店的李老板设计了一个简单的数据库，用来记录礼品店每月的销售记录。由于没有学过数据库，他设计的数据库模式为Sales(name, discount, month, price)。他将已有的数据插入到Sales关系中。在之后的运行中，李老板发现这一数据库模式不太好用。

李老板得知你正在学习数据库，想请你来帮助他解决礼品店数据管理问题，即规范化关系。他给出了之前的销售记录SaleData.txt，但不幸的是，李老板正好要出差，没法和你面对面交流，找出礼品店销售中存在的函数依赖（即无法和客户进行需求分析）。所以，你只能逆向工程，从给出的数据中寻找函数依赖。

#### 3.1 创建Sales表，载入数据

通过pgAdmin III在PostgreSQL中创建lab4数据库，增加postgis扩展(create extension postgis)，并连接该数据库。

In [3]:
%load_ext sql

d:\python27\lib\site-packages\IPython\config.py:13: ShimWarning: The `IPython.config` package has been deprecated. You should import from traitlets.config instead.
  "You should import from traitlets.config instead.", ShimWarning)
d:\python27\lib\site-packages\IPython\utils\traitlets.py:5: UserWarning: IPython.utils.traitlets has moved to a top-level traitlets package.
  warn("IPython.utils.traitlets has moved to a top-level traitlets package.")

In [4]:
%%sql postgresql://postgres:postgres@localhost:5432/lab4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET client_encoding = 'GBK';
SET standard_conforming_strings = on;
SET check_function_bodies = false;
SET client_min_messages = warning;

Done.
Done.
Done.
Done.
Done.
Done.

[]

In [3]:
%%sql 
drop table if exists Sales;
create table Sales
(
  name varchar(255),
  discount float,
  month varchar(10),
  price float
);

copy Sales(name,discount,month,price) from 'e:\\SaleData.txt' delimiter  '#';

Done.
Done.
426 rows affected.

[]

#### 3.2 找出数据中存在的所有完全非平凡函数依赖（6分）

由于无法了解客户的需求，只能通过试错法不断尝试，从最简单的函数依赖开始，如name -> discount，然后再尝试复杂的函数依赖，如name, discount  -> month。对于每个函数依赖，写一个SQL语句进行检查，要求SQL语句尽可能简短，且能通过查询结果，确定是否存在查找的函数依赖（不是看数据内容，人工判断确定）。

Be Clever，结合函数依赖的规则减少需要检查的函数依赖数目，同时不能丢失任何可能的函数依赖。

构造一个SQL查询语句，检查是否存在A -> B类型的完全非平凡函数依赖，其中A和B可以是Sales中的任何属性。

In [ ]:
%%sql 
select *
from sales t1,sales t2
where t1.name=t2.name and t1.discount<>t2.discount;

select *
from sales t1,sales t2
where t1.name=t2.name and t1.month<>t2.month;

select *
from sales t1,sales t2
where t1.name=t2.name and t1.price<>t2.price;

select *
from sales t1,sales t2
where t1.discount=t2.discount and t1.name<>t2.name;

select *
from sales t1,sales t2
where t1.discount=t2.discount and t1.month<>t2.month;

select *
from sales t1,sales t2
where t1.discount=t2.discount and t1.price<>t2.price;

select *
from sales t1,sales t2
where t1.month=t2.month and t1.name<>t2.name;

select *
from sales t1,sales t2
where t1.month=t2.month and t1.discount<>t2.discount;

select *
from sales t1,sales t2
where t1.month=t2.month and t1.price<>t2.price;

select *
from sales t1,sales t2
where t1.price=t2.price and t1.name<>t2.name;

select *
from sales t1,sales t2
where t1.price=t2.price and t1.discount<>t2.discount;

select *
from sales t1,sales t2
where t1.price=t2.price and t1.month<>t2.month;

构造一个SQL查询语句，检查是否存在A, B -> C类型的完全非平凡函数依赖，其中A、B和C可以是Sales中的任何属性。

In [ ]:
%%sql 
select *
from sales t1,sales t2
where t1.name=t2.name and t1.discount=t2.discount and t1.month<>t2.month;

select *
from sales t1,sales t2
where t1.name=t2.name and t1.price=t2.price and t1.discount<>t2.discount;

select *
from sales t1,sales t2
where t1.name=t2.name and t1.price=t2.price and t1.month<>t2.month;

select *
from sales t1,sales t2
where t1.discount=t2.discount and t1.month=t2.month and t1.name<>t2.name;

select *
from sales t1,sales t2
where t1.discount=t2.discount and t1.month=t2.month and t1.price<>t2.price;

select *
from sales t1,sales t2
where t1.discount=t2.discount and t1.price=t2.price and t1.name<>t2.name;

select *
from sales t1,sales t2
where t1.discount=t2.discount and t1.price=t2.price and t1.month<>t2.month;

select *
from sales t1,sales t2
where t1.month=t2.month and t1.price=t2.price and t1.name<>t2.name;

通过上述过程的查找，给出Sales关系中存在的所有**完全非平凡**函数依赖

name->price
month->discount
name,month->price
name,discount->price
month,name->discount
month,price->discount

对于Sales关系，检查所有可能的完全非平凡函数依赖最少需要多少次SQL查询？

20

#### 3.3 异常分析（2分）

基于发现的函数依赖，分析Sales关系设计存在哪些设计异常，并给出理由？

1.数据存在大量冗余，比如price和discount重复出现。
2、更新异常，比如某月的discount更新时，需要更改在sales表中出现的所有该月的discount。
3、插入异常，比如如果一个商品没有确定在哪个月出售，那么这个商品的名称和价格就无法存入数据库。
4、删除异常，比如如果一个商品的销售记录都删除了，那么这个商品本身的名称与价格信息也就丢掉了。

#### 3.4 BCNF分解（2分）

基于发现的函数依赖，使用BCNF分解算法，将Sales表分解为满足BCNF的关系。

根据发现的函数依赖，可以将sales表分解为
NamePrice(name,price)
MonthDis(month,discount)
NameMonth(name,month)

#### 3.5 数据ETL（2分）

创建分解后的关系，指定主键和外键，将Sales表中的数据，通过SQL插入和查询语句导入到分解后的关系中。

In [4]:
%%sql 
drop table if exists NameMonth;
drop table if exists NamePrice;
create table NamePrice
(
  name varchar(255) primary key,
  price float
);

drop table if exists MonthDis;
create table MonthDis
(
  discount float,
  month varchar(10) primary key
);

create table NameMonth
(
  name varchar(255),
  month varchar(10),
  primary key (name,month),
  foreign key (name) references NamePrice,
  foreign key (month) references MonthDis
);

insert into nameprice
select distinct name,price
from sales;

insert into monthdis
select distinct discount,month
from sales;

insert into namemonth
select distinct name,month
from sales;

Done.
Done.
Done.
Done.
Done.
Done.
36 rows affected.
12 rows affected.
426 rows affected.

[]

通过compare_result检查BCNF分解是否是lossless？

In [5]:
from relation_algebra import BaseRelation, compare_results
X = %sql select * from namemonth natural join nameprice natural join monthdis;
x = BaseRelation(X)

Y = %sql select * from Sales
y = BaseRelation(Y)

print compare_results(x, y)

426 rows affected.
426 rows affected.
True

### 4. 静态空间数据库设计和数据ETL
Natural Earth网站提供了全球的矢量和栅格地图数据，1:10m，1:50m，1:110m三种尺度。
从Natural Earth网站下载River+Lake Centerlines (1.6 MB version 3.0.0)和Lakes+Reservoirs (1.74 MB, version 3.0.0)数据，<a href="http://www.naturalearthdata.com/downloads/10m-physical-vectors/" target="_blank">网址</a>。

In [5]:
from geom_display import display, displayAll  
displayAll()

#### 4.1 数据导入与展示（2分）
将River+Lake Centerlines和Lakes+Reservoirs数据导入lab4中，并修改query查询语句分别展示centerlines和lakes，display函数要求查询结果至少包含gid, name和geom属性名。

In [6]:
%sql set client_encoding = 'utf-8'
query = """ 
select gid,name,geom
from ne_10m_rivers_lake_centerlines;

"""
results = %sql $query

display(results, "map1", -28, 20, 3)

Done.
1454 rows affected.

In [8]:
%sql
query= """
select gid,name,geom 
from ne_10m_lakes;

"""
results = %sql $query

display(results, "map2", -28, 20, 3)

1353 rows affected.

#### 4.2 多源数据融合（6分）

将River+Lake Centerlines和Lakes+Reservoirs的数据转换成两个新的关系：
* Rivers(gid, name, geom)：包括River+Lake Centerlines中的Rivers信息
* Lakes(gid, name, year, featurecla, scalerank, geom_lake, geom_centreline)：包括River+Lake Centerlines和Lakes+Reservoirs中的Lakes信息

构造SQL语句创建上述两个关系，并通过Insert+Select语句，将相应的数据插入到Rivers和Lakes关系中。

原有两个关系中的Lakes信息需要关联，例如Lakes名字相同或几何相交等，可以通过OpenStreetMap进行融合显示验证。在数据整合过程中，featurecla属性是Lake、Lake Centerline或Reservoir之一，若Lakes的部分属性不存在相应的数据，用NULL代替，例如geom_lake和geom_centreline属性。

In [19]:
%%sql 
drop table if exists rivers;
create table rivers
(
  gid int,
  name varchar(255),
  geom geometry(multilineString,4326)
);	
insert into rivers(gid,name,geom)
select gid,name,st_setSRID(geom,4326)
from ne_10m_rivers_lake_centerlines
where featurecla='River';

Done.
Done.
1201 rows affected.

[]

In [7]:
%%sql 
drop table if exists lakes;
create table lakes
(
  gid int,
  name varchar(255),
  year int,
  featurecla varchar(32), 
  scalerank numeric, 
  geom_lake geometry(multiPolygon,4326), 
  geom_centreline geometry(multilineString,4326)
);	
insert into lakes(gid,name, year, featurecla, scalerank, geom_lake, geom_centreline)
select gid,name, year, featurecla, scalerank, geom_lake, geom_centreline
from 
(
	select gid,name,year,featurecla,scalerank,st_setSRID(geom,4326) as geom_lake
	from ne_10m_lakes
	where featurecla='Lake' or featurecla='Reservoir'
) t1
left outer join 
(
	select /*name,featurecla,scalerank,*/st_setSRID(geom,4326) as geom_centreline
	from ne_10m_rivers_lake_centerlines
	where featurecla='Lake Centerline'
) t2
on st_crosses(t1.geom_lake,t2.geom_centreline);

Done.
Done.
1309 rows affected.

[]

In [15]:
%sql set client_encoding = 'utf-8'
#查询rivers中的所有元组,每一元组由(gid, name, geom)组成
query = """
select gid,name,geom
from rivers;

"""
results = %sql $query


display(results, "map3", -28, 20, 3)

Done.
1201 rows affected.

In [9]:
# 查询lakes中geom_lake和geom_centerline合并之后的所有元组,每一元组由(gid, name, geom)组成，注意geom不能为NULL
# geom_lake
query1 = """
select gid,name,geom_lake as geom
from lakes;

"""
results1 = %sql $query1

# geom_centerline
query2 = """
select gid,name,geom_centreline as geom
from lakes
where geom_centreline is not null;
"""
results2 = %sql $query2

display(results1, "map4", -28, 20, 3, results2)

1309 rows affected.
416 rows affected.

#### 4.3 关系设计（4分）

分析Rivers和Lakes关系中的属性，设计一个合理的关系，分析流程如下：
* 列出你设计的所有关系，为每个关系指定主码。<br/>
* 列出你设计的关系中的所有完全非平凡函数依赖，也可以回答“没有”。<br/>
* 你设计的关系是否属于Boyce-Codd Normal Form (BCNF)范式？如果不是，请重新设计，或者解释为什么采用非BCNF较好。<br/>
* 列出你设计的关系中的所有非平凡多值依赖，也可以回答“没有”。<br/>
* 你设计的关系是否属于第4范式？如果不是，请重新设计，或者解释为什么采用非4-NF较好。

Rivers关系存在哪些完全非平凡的函数依赖，是否属于BCNF？

gid->geom,name
geom->gid,name
是BCNF

Rivers关系如果不属于BCNF，请基于函数依赖进行BCNF分解，或解释为什么采用非BCNF较好？

Rivers关系或基于分解获得关系存在哪些非平凡多值依赖，是否属于4-NF？

无非平凡多值依赖
是4NF

Rivers关系或基于分解获得关系如果不属于4-NF，请基于多值依赖进行4-NF分解，或解释为什么采用非4-NF较好？

Lakes关系存在哪些完全非平凡的函数依赖，是否属于BCNF？

gid->name,year,featurecla,scalerank,geom_lake
geom_lake->	name,year,featurecla

Lakes关系如果不属于BCNF，请基于函数依赖进行BCNF分解，或解释为什么采用非BCNF较好？

lakeName(name,year,featurecla,geom_lake)
lakes1(gid,scalerank,geom_lake)
lakeCentreline(gid,geom_centreline)

Lakes关系或基于分解获得关系存在哪些非平凡多值依赖，是否属于4-NF？

无非平凡多值依赖 属于4-NF

Lakes关系或基于分解获得关系如果不属于4-NF，请基于多值依赖进行4-NF分解，或解释为什么采用非4-NF较好？

#### 4.4 数据ETL（2分）

根据4.3中设计的合理关系，对4.2中已有的Rivers和Lakes关系和数据通过SQL语句进行修改，可以增加/删除列、或创建新的关系将数据导入。

In [10]:
%%sql
drop table if exists lakeName;
create table lakeName
(
  name varchar(255),
  year int ,
  featurecla varchar(32),
  geom_lake geometry(multipolygon,4326)
);
insert into lakeName
select name,year,featurecla,geom_lake
from lakes;

drop table if exists lakes1;
create table lakes1
(
   gid int,
   scalerank numeric,
   geom_lake geometry(multipolygon,4326)
);
insert into lakes1
select gid,scalerank,geom_lake
from lakes;

drop table if exists lakeCentreline;
create table lakeCentreline
(
   gid int,
   geom_centreline geometry(multilinestring)
);
insert into lakeCentreline
select gid,geom_centreline
from lakes;

Done.
Done.
1309 rows affected.
Done.
Done.
1309 rows affected.
Done.
Done.
1309 rows affected.

[]

动态空间数据库设计和数据ETL，参加课堂练习3的航班飞行轨迹网站FlightAware，内容包括机场和航班关系设计、数据抓取、关系创建和数据导入等。

### 5. 附加题（3分）
关系R(A, B, C, D)的属性均无NULL值，构造一个SQL语句判断关系R的数据是否存在多值依赖AC-->-->B。

构造关系实例，进行验证，至少一个正例和一个负例。当存在AC-->-->B时，SQL语句返回空集，不存在时，SQL语句返回违背该多值依赖的元组。

In [13]:
%%sql
drop table if exists r;
create table r
(
   a int,
   b int,
   c int,
   d int 
);
insert into r values(1,2,3,4),
		(1,2,3,3),
		(1,5,3,6),
		(1,2,3,6),
		(1,5,3,4),
		(1,5,3,3);
		
select distinct r1.a,r2.b,r1.c,r1.d
from R r1,R r2
where 
(
   r1.a=r2.a and r1.c=r2.c 
   and (r1.b=r2.b and r1.d=r2.d)=false  
)
except 
select * 
from r;

drop table if exists r;
create table r
(
   a int,
   b int,
   c int,
   d int 
);
insert into r values(1,2,3,4),
		(1,2,3,3),
		(1,5,3,6),
		(1,2,3,6);
		
select distinct r1.a,r2.b,r1.c,r1.d
from R r1,R r2
where 
(
   r1.a=r2.a and r1.c=r2.c 
   and (r1.b=r2.b and r1.d=r2.d)=false  
)
except 
select * 
from r;

Done.
Done.
6 rows affected.
0 rows affected.
Done.
Done.
4 rows affected.
2 rows affected.

[(1, 5, 3, 4), (1, 5, 3, 3)]

### 实习感想