# 实习5 空间数据库设计

姓名：秦卫付

学号：3170106249

**实习目的：**了解数据库设计基本流程和设计异常，了解空间数据的获取方式，熟悉空间扩展E/R图，掌握E/R图与关系的转化，掌握关系数据库规范化设计方法，掌握数据的ETL过程（数据抽取Extract、清洗Clean、转换Transform、转载Load），熟悉视图的可更新标准，掌握使用instead of触发器实现视图更新。

**注意事项：**
* SQL语句的错误输出为乱码时，修改SET client_encoding = 'GBK';或SET client_encoding = 'UTF-8';，重新连接数据库
* Jupyter Notebook对SQL语句的错误提示较弱，可以先在pgAdmin 4上执行，查看详细的错误信息
* 实习5总分50分，实习考察的题目后面标了具体分数，可以相互讨论思路，作业抄袭或雷同都要扣分
* 学号.jpg和实习5\_学号\_姓名.ipynb替换其中的学号和姓名，包含执行结果，一起压缩为__实习5\_学号\_姓名.rar__，发送到zjusdb@163.com
* 实习5截止日期**2019.5.19**

### 1. 空间扩展E/R图（12分）

某地理空间项目需求分析获得了以下实体及其属性：<br/>
* countries: name, boundary, area, population, gdp
* cities: name, position, population
* rivers: name, centerline, length
* seas: name, boundary, max depths

上述4个实体的联系或约束如下：
* 每个城市只属于一个国家
* 每条河流穿越一个或多个国家
* 每条河流终止于另一条河流或海洋

#### 1.1 空间扩展E/R图（8分）

countries实体的哪些属性是空间属性，给出其最恰当的几何类型及理由。

boundary,类型：mutipolygon 理由：国家可能一个多边形或者多个多边形组成

cities实体的哪些属性是空间属性，给出其最恰当的几何类型及理由。

position，类型 point 理由：城市在一定尺度上就是一个点

rivers实体的哪些属性是空间属性，给出其最恰当的几何类型及理由。

ceterline 类型：linestring ，河流的中心线为线条

seas实体的哪些属性是空间属性，给出其最恰当的几何类型及理由。

boundary 类型：mutipolygon,理由：海洋使用多边形表示

空间扩展E/R图可以使用软件或手工绘图，类似Lecture 7 P109页的E/R图，去除要素ID这一多值属性，空间属性使用实体象形图进行标注，联系需给出联系类型（1:N标注或箭头表示），截图或照片保存为学号.png，与本文件同一目录，修改下面的E-R.png为你的学号.png，Shift+Enter能正确展示空间扩展E/R图（如果浏览器缓存数据，请重启Kernel查询空间扩展E/R图）。

<img src="3170106249.png">

#### 1.2 函数依赖（4分）

基于现实世界语义（如无重名城市或河流等），分析每个实体中存在的**完全非平凡**函数依赖，并回答是否属于BCNF。

countries实体存在哪些完全非平凡的函数依赖，是否属于BCNF？

name->boundary,name->population,name->gdp,boundary->area，name->area;不属于BCNF
name->all          
boundary->name,area,population,gdp

rivers实体存在哪些完全非平凡的函数依赖，是否属于BCNF？

name->centerline,centerline->length,name->length ;不属于BCNF

cities实体存在哪些完全非平凡的函数依赖，是否属于BCNF？

name->position,name->population；属于

seas实体存在哪些完全非平凡的函数依赖，是否属于BCNF？

name->boundary,name->max depths属于

### 2. National Turfgrass Evaluation Program（14分）

[National Turfgrass Evaluation Program](http://www.ntep.org/)的数据库介绍如下：

This database records the code, location, and annual precipitation about experimental sites. Many U.S. universities (e.g., UMN, UC Davis, and UC Riverside) participate in the program and each of them administrates multiple sites. Each site is administrated by one university and partitioned into a set of parcels for controlled experiment using spatial statistical controlled experiment design to evaluate and compare different soil type, irrigation and fertilization frequencies. In each parcel there is one species (e.g., Rinovo) of turf grass which is provided by a sponsor (e.g., Semillas Fito and Turf Merchants, Inc.) whose name and headquarter postal address is in the database. These turf grass species can be classified into cool season grasses and warm season grasses.

该项目数据库的部分空间扩展E/R图如下图所示：

<img src="E-R.png">

#### 2.1 实体（2分）

基于项目介绍给出实体E1-E7的名称。

E1 = University
E2 = Site  
E3 = parcel 
E4 = turf grass
E5 = cool season grasses 
E6 = warm season grasses
E7 = sponsor

#### 2.2 属性（2分）
基于项目介绍给出属性A1-A6的名称。

A1 =  code
A3 =  location
A2 = annual precipitation
A4 = soil type
A5 = irrigation
A6 = fertilization frequencies

#### 2.3 联系（4分）
基于项目介绍给出联系R1-R4的名称和联系类型（1:1, 1:N, N:1, N:M）。

R1(E1->E2) = 位于, 1:N
R2(E3->E4) = have，1:1
R3(E2->E3) = part of, 1:N
R4(E4->E7) = 提供, 1:1

#### 2.4 关系（5分）

将空间扩展E/R图转换为关系，子类满足不想交和完备性约束，可适当增加实体的非空间属性，如id, name, address, state等，几何属性需要标注几何类型，如geom(Point)，联系关系尽可能和实体关系合并，但关系都需属于BCNF。

University（Uid,name,stata,geom(mutipolygon)）
Site (gid,name,code,loation(polygon), annual precipitation,Uid)
parcel (gid,name,soil type, irrigation , fertilization frequencies,geom(polygon),site_gid)
turf_grass(id,name,type,geom(polygon),parcel_gid)
cool_season_grasses(id,name) 
warm_season_grasses（id,name）
sponsor(name, headquarter postal address,grass id,position(point),grass_id)

#### 2.5 应用（1分）

该数据库期望回答以下问题，如果认为基于该数据库能回答，请构造SQL查询语句（无需执行），如果认为缺少数据，请描述所需的空间数据。

How many species of turf grasses are tested in California?

Which state contains the largest experimental site?

What is the distance between sponsors and the sites where turf grasses they provide are tested? （1分）

select sponsor.name,turf_grass.name,ST_diasdance(geom,position)
from sposor,turf_grass
where grass_id=turf grass.id

List the site with largest number of sponsors.

### 3. BCNF（5分）

假设关系R(A, B, C, D, E)有如下函数依赖：AB  $\rightarrow$ C, BC  $\rightarrow$ D, CD  $\rightarrow$ E, DE  $\rightarrow$ A。

3.1 关系R所有的Keys。（2分）

AB,BC

minimal set

3.2 将关系R分解为BCNF。（2分）

R(A,B)、R(C,D)、R（A、C、E）

3.3 是否存在不同的分解？如果存在，给出不同的分解。（1分）

存在，R(B,C)、R(A,B)、R(B,D,E)

### 4. 数据库逆向设计（11分）
礼品店的李老板设计了一个简单的数据库，用来记录礼品店每月的销售记录。由于没有学过数据库，他设计的数据库模式为Sales(name, discount, month, price)。他将已有的数据插入到Sales关系中。在之后的运行中，李老板发现这一数据库模式不太好用。

李老板得知你正在学习数据库，想请你来帮助他解决礼品店数据管理问题，即规范化关系。他给出了之前的销售记录SaleData.txt，但不幸的是，李老板正好要出差，没法和你面对面交流，找出礼品店销售中存在的函数依赖（即无法和客户进行需求分析）。所以，你只能逆向工程，从给出的数据中寻找函数依赖。

#### 4.1 创建Sales表，载入数据

通过pgAdmin 4在PostgreSQL中创建lab5数据库，增加postgis扩展，并连接该数据库。

In [1]:
%load_ext sql

In [2]:
%%sql postgresql://postgres:qwf123@localhost:5432/lab5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET client_encoding = 'utf-8';
SET standard_conforming_strings = on;
SET check_function_bodies = false;
SET client_min_messages = warning;

Done.
Done.
Done.
Done.
Done.
Done.

[]

In [16]:
%%sql create table sales(
name char(7),
discount char(3),
month char(3),
price int);
copy sales from 'D://desktop//geodatabase//lab//lab5//SaleData.txt' 
DELIMITER '	'

 * postgresql://postgres:***@localhost:5432/lab5
Done.
426 rows affected.

[]

#### 4.2 找出数据中存在的所有完全非平凡函数依赖（5分）

由于无法了解客户的需求，只能通过试错法不断尝试，从最简单的函数依赖开始，如name $\rightarrow$ discount，即当记录的name属性相同时，对应的discount属性也相同，然后再尝试复杂的函数依赖，如name, discount $\rightarrow$ month。对于每个函数依赖，写一个SQL语句进行检查，要求SQL语句尽可能简短，且能通过查询结果，确定是否存在查找的函数依赖（不是看数据内容，人工判断确定）。

Be Clever，结合函数依赖的规则减少需要检查的函数依赖数目，同时不能丢失任何可能的函数依赖。

构造一个SQL查询语句，检查是否存在A $\rightarrow$ B类型的完全非平凡函数依赖，其中A和B可以是Sales中的任何属性。

In [14]:
%%sql 
select * from sales A, sales B
where A.name = B.name and A.price != B.price;

select * from sales A, sales B
where A.month = B.month and A.discount != B.discount;

 * postgresql://postgres:***@localhost:5432/lab5
0 rows affected.
0 rows affected.

[]

构造一个SQL查询语句，检查是否存在A, B $\rightarrow$ C类型的完全非平凡函数依赖，其中A、B和C可以是Sales中的任何属性。

In [15]:
%%sql 
select * from sales A, sales B
where A.name = B.name and A.discount = B.discount
and A.price != B.price and A.month != B.month;

select * from sales A, sales B
where A.month = B.month and A.price = B.price
and A.discount != B.discount and A.name != B.name;

 * postgresql://postgres:***@localhost:5432/lab5
0 rows affected.
0 rows affected.

[]

通过上述过程的查找，给出Sales关系中存在的最小**完全非平凡**函数依赖集合，即a minimal set of completely nontrivial FDs such that all FDs that hold on the relation follow from the dependencies in the set，不在该集合中的函数依赖，都可以通过集合中的函数依赖根据规则推导获得。单属性之间的判断可以逐个写SQL语句判断，也可以用修改以下Python代码自动判断所有单属性依赖。

In [13]:
colums = ['name','price']
template = 'name,month,discount'

for A in colums:
    for B in colums:
        query = template % (A, B)
        result = %sql $query
        if A != B and len(result) == 0:
            print A + '->' + B

TypeError: not all arguments converted during string formatting

最小完全非平凡函数依赖集合：
name->price；
month -> discount; 
name,month->discount
name,month->price
name, discount ->  month
name, discount -> price
month, price ->  name
month, price -> discoun

对于Sales关系，获得上述最小完全非平凡函数依赖集合最少需要多少次SQL查询？

10     answer:12

#### 4.3 异常分析（2分）

基于发现的函数依赖，分析Sales关系设计存在哪些设计异常，并给出具体理由？

数据存储异常，每种商品的价格是一定，不需要多次存储

#### 4.4 BCNF分解（2分）

基于发现的函数依赖，使用BCNF分解算法，将Sales表分解为满足BCNF的关系。

price（name，price）,discount(name,month,discount)

#### 4.5 数据ETL（2分）

创建分解后的关系，指定主键和外键，将Sales表中的数据，通过SQL插入和查询语句导入到分解后的关系中。

In [17]:
%%sql
drop table if exists price;
drop table if exists discount;
create table price (
name char(7) ,
price int ,
primary key (name));
insert into price
select name,price
from sales
group by name,price;
create table discount(
    name char(7) references price(name),
month char(3),
discount char(3),
    primary key(name,month)
 );

insert into discount
select name,month,discount from sales
group by name,month,discount;

 * postgresql://postgres:***@localhost:5432/lab5
Done.
Done.
Done.
36 rows affected.
Done.
426 rows affected.

[]

通过compare_result检查BCNF分解是否是join lossless？

In [18]:
from relation_algebra import BaseRelation, compare_results
X = %sql select discount.name,month,discount,price from discount,price where price.name=discount.name
x = BaseRelation(X)

Y = %sql select * from Sales
y = BaseRelation(Y)

print compare_results(x, y)

 * postgresql://postgres:***@localhost:5432/lab5
426 rows affected.
 * postgresql://postgres:***@localhost:5432/lab5
426 rows affected.
True

设计一个合理的关系的常见分析流程如下：
* 列出你设计的所有关系，为每个关系指定主码。<br/>
* 列出你设计的关系中的所有完全非平凡函数依赖，也可以回答“没有”。<br/>
* 你设计的关系是否属于Boyce-Codd Normal Form (BCNF)范式？如果不是，请重新设计，或者解释为什么采用非BCNF较好。<br/>
* 列出你设计的关系中的所有非平凡多值依赖，也可以回答“没有”。<br/>
* 你设计的关系是否属于第4范式？如果不是，请重新设计，或者解释为什么采用非4-NF较好。

### 5. 视图与触发器（8分）

track关系可以用于分析道路拥堵，即道路上车辆数目。首先创建道路road和track关系，导入数据。

In [11]:
%%sql
drop table if exists road cascade;
create table road (
    id integer NOT NULL,
    name text,
    geom geometry(LineString,4326));

 * postgresql://postgres:***@localhost:5432/lab5
Done.
Done.

[]

In [13]:
%%sql
SET client_encoding = 'GBK';
copy road from  'D://desktop//geodatabase//lab//lab5//road.txt' delimiter '#';
SET client_encoding = 'utf-8';

 * postgresql://postgres:***@localhost:5432/lab5
Done.
2828 rows affected.
Done.

[]

In [3]:
%%sql
drop table if exists track;
create table track(
    time timestamp default CURRENT_TIMESTAMP,
    position geometry(POINT, 4326),
    userName text default SESSION_USER,
    carID text
);

insert into track values('2019-05-08 10:20:28', ST_GeomFromText('point(120.104686575 30.283505885)',4326), 'Jack' , '101');
insert into track values('2019-05-08 10:20:29', ST_GeomFromText('point(120.10475310 30.28328588)',4326), 'Jack', '101');
insert into track values('2019-05-08 10:20:30', ST_GeomFromText('point(120.104819625 30.283065875)',4326), 'Jack', '101');
insert into track values('2019-05-08 10:20:31', ST_GeomFromText('point(120.10488615 30.28284587)',4326), 'Jack', '101');
insert into track values('2019-05-08 10:20:32', ST_GeomFromText('point(120.104952675 30.282625865)',4326), 'Jack', '101');
insert into track values('2019-05-08 10:20:33', ST_GeomFromText('point(120.104819625 30.283065875)',4326), 'Jack', '101');
insert into track values('2019-05-08 10:20:34', ST_GeomFromText('point(120.104979285 30.282537863)',4326), 'Jack', '101');
insert into track values('2019-05-08 10:20:35', ST_GeomFromText('point(120.1049992425 30.2824718615)',4326), 'Jack', '101');
insert into track values('2019-05-08 10:20:36', ST_GeomFromText('point(120.10501920 30.28240586)',4326), 'Jack', '101');
insert into track values('2019-05-08 10:20:37', ST_GeomFromText('point(120.105045810 30.282317858)',4326), 'Jack', '101');
insert into track values('2019-05-08 10:20:38', ST_GeomFromText('point(120.105085725 30.282185855)',4326), 'Jack', '101');
insert into track values('2019-05-08 10:20:39', ST_GeomFromText('point(120.105125640 30.282053852)',4326), 'Jack', '101');
insert into track values('2019-05-08 10:20:40', ST_GeomFromText('point(120.105178860 30.281877848)',4326), 'Jack', '101');
insert into track values('2019-05-08 10:20:41', ST_GeomFromText('point(120.105218775 30.281745845)',4326), 'Jack', '101');
insert into track values('2019-05-08 10:20:42', ST_GeomFromText('point(120.105298605 30.281481839)',4326), 'Jack', '101');
insert into track values('2019-05-08 10:20:43', ST_GeomFromText('point(120.105378435 30.281217833)',4326), 'Jack', '101');
insert into track values('2019-05-08 10:20:29', ST_GeomFromText('point(120.10475310 30.28328588)',4326), 'David', '102');
insert into track values('2019-05-08 10:20:30', ST_GeomFromText('point(120.1047810405 30.2831934779)',4326), 'David', '102');
insert into track values('2019-05-08 10:20:29', ST_GeomFromText('point(120.10475310 30.28328588)',4326), 'Tom', '103');
insert into track values('2019-05-08 10:20:30', ST_GeomFromText('point(120.1047770490 30.2832066782)',4326), 'Tom', '103');
insert into track values('2019-05-08 10:20:29', ST_GeomFromText('point(120.103880996283 30.2860733641809)',4326), 'Sally', '104');
insert into track values('2019-05-08 10:20:30', ST_GeomFromText('point(120.1039895370264 30.28572229134472)',4326), 'Sally', '104');
insert into track values('2019-05-08 10:20:28', ST_GeomFromText('point(120.096243 30.296820)',4326), 'Lily' , '105');
insert into track values('2019-05-08 10:20:30', ST_GeomFromText('point(120.096415 30.296707)',4326), 'Lily' , '105');
insert into track values('2019-05-08 11:22:29', ST_GeomFromText('point(120.090426 30.297285)',4326), 'Tim', '106');
insert into track values('2019-05-08 11:22:30', ST_GeomFromText('point(120.090248 30.297278)',4326), 'Tim', '106');
insert into track values('2019-05-08 11:22:31', ST_GeomFromText('point(120.090065 30.297271)',4326), 'Tim', '106');
insert into track values('2019-05-08 11:22:32', ST_GeomFromText('point(120.089927 30.297269)',4326), 'Tim', '106');
insert into track values('2019-05-08 11:20:29', ST_GeomFromText('point(120.090326 30.297285)',4326), 'Cook', '107');
insert into track values('2019-05-08 11:20:30', ST_GeomFromText('point(120.090248 30.297278)',4326), 'Cook', '107');
insert into track values('2019-05-08 11:25:29', ST_GeomFromText('point(120.090386 30.297285)',4326), 'Kate', '108');
insert into track values('2019-05-08 11:25:30', ST_GeomFromText('point(120.090248 30.297278)',4326), 'Kate', '108');
insert into track values('2019-05-08 11:18:29', ST_GeomFromText('point(120.090326 30.297285)',4326), 'George', '109');
insert into track values('2019-05-08 11:18:30', ST_GeomFromText('point(120.090308 30.297278)',4326), 'George', '109');

 * postgresql://postgres:***@localhost:5432/lab5
Done.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

5.1 首先创建视图CurrentTrack(carID, position, roadID)，表示每辆车**当前**所在位置及该位置所在的道路，即距离所在位置最近的道路。（2分）

In [16]:
%%sql
drop view if exists currenttrack;
create view CurrentTrack
    as
select xx.carid,position,id as roadID from(
select carid, min(dis) from (
select carid,position, road.name,geom,ST_distance(road.geom,foo1.position) as dis
from
(
select carid,position from
(
select max(time),username as name
from track
group by name)foo,track
where track.time=max and track.username=foo.name)foo1,road
	)foo3
	group by carid) foo4, (
select carid,position, road.id,road.name,geom,ST_distance(road.geom,foo1.position) as dis
from
(
select carid,position from
(
select max(time),username as name
from track
group by name)foo,track
where track.time=max and track.username=foo.name)foo1,road)xx

	where foo4.min=xx.dis and foo4.carid=xx.carid

 * postgresql://postgres:***@localhost:5432/lab5
Done.
Done.

[]

5.2 基于CurrentTrack视图，构造SQL语句查询道路上车数目，查询返回道路编号和道路上车的数目，按车的数目降序排列。（2分）

In [18]:
%%sql
 select roadid, count(*) as count
from currenttrack
group by roadid
order by count desc

 * postgresql://postgres:***@localhost:5432/lab5
3 rows affected.

[(360, 4L), (464, 4L), (418, 1L)]

5.3 根据**SQL**的视图可更新标准，该视图是否为可更新视图，请说明理由。（1分）

不是可更新视图，理由：有group by和聚合函数

5.4 根据**PostgreSQL数据库**的视图可更新标准，该视图是否为可更新视图，请说明理由。（1分）

不是可更新视图，理由：有group by和聚合函数

5.5 为该视图创建触发器实现数据插入，roadID无需插入。（2分）

In [10]:
%%sql 
create or replace function InsertTrigger()
returns trigger as $$
begin 
    insert into Track values (current_timestamp, new.position, (select userName from track where track.carID = new.carID limit 1), new.carID);
    return new;
end;
$$language plpgsql;

drop trigger if exists inserttrigger on currenttrack;
Create trigger InsertTrigger
instead of insert on CurrentTrack
For Each Row
execute procedure inserttrigger();

 * postgresql://postgres:***@localhost:5432/lab5
Done.
Done.
Done.

[]

In [8]:
%%sql
drop trigger if exists inserttrigger on currenttrack;
Create trigger InsertTrigger
instead of insert on CurrentTrack
referencing new row as n
for each row
insert into Track values (current_timestamp, n.position, (select userName from track where track.carID = n.carID limit 1), n.carID)

 * postgresql://postgres:***@localhost:5432/lab5
Done.
(psycopg2.ProgrammingError) 错误:  语法错误 在 "insert" 或附近的
LINE 5: insert into Track values (current_timestamp, n.position, (se...
        ^
 [SQL: 'Create trigger InsertTrigger\ninstead of insert on CurrentTrack\nreferencing new row as n\nfor each row\ninsert into Track values (current_timestamp, n.position, (select userName from track where track.carID = n.carID limit 1), n.carID)'] (Background on this error at: http://sqlalche.me/e/f405)

In [10]:
%sql insert into CurrentTrack(carID, position) values('102', ST_GeomFromText('Point(120.10475310 30.28328588)', 4326));

 * postgresql://postgres:***@localhost:5432/lab5
1 rows affected.

[]

In [11]:
%sql select time, ST_AsText(position), username from track where carID = '102' order by time desc

 * postgresql://postgres:***@localhost:5432/lab5
3 rows affected.

[(datetime.datetime(2019, 5, 19, 23, 6, 47, 842000), u'POINT(120.1047531 30.28328588)', u'David'),
 (datetime.datetime(2019, 5, 8, 10, 20, 30), u'POINT(120.1047810405 30.2831934779)', u'David'),
 (datetime.datetime(2019, 5, 8, 10, 20, 29), u'POINT(120.1047531 30.28328588)', u'David')]

### 6. 多值依赖（附加题）

6.1 关系R(A, B, C, D)的属性均无NULL值，构造一个SQL语句判断关系R的数据是否存在多值依赖B  $\twoheadrightarrow$ AC。

构造关系实例，进行验证，至少一个正例和一个负例。当存在B $\twoheadrightarrow$ AC时，SQL语句返回空集，不存在时，SQL语句返回违背该多值依赖的元组。（2分）

In [9]:
%%sql
drop table if exists R;
create table R(A int, B int, C int, D int);

 * postgresql://postgres:***@localhost:5432/lab5
Done.
Done.

[]

构造一个多值依赖B $\twoheadrightarrow$ AC成立的关系实例

In [10]:
%%sql
delete from R;
insert into R values ();

 * postgresql://postgres:***@localhost:5432/lab5
0 rows affected.
(psycopg2.ProgrammingError) 错误:  语法错误 在 ")" 或附近的
LINE 1: insert into R values ();
                              ^
 [SQL: 'insert into R values ();'] (Background on this error at: http://sqlalche.me/e/f405)

构造SQL语句查询多值依赖B $\twoheadrightarrow$ AC是否成立

In [ ]:
%%sql

构造一个多值依赖B $\twoheadrightarrow$ AC不成立的关系实例

In [ ]:
%%sql
delete from R;
insert into R values ();

拷贝SQL语句查询多值依赖B $\twoheadrightarrow$ AC是否成立

In [ ]:
%%sql

6.2 关系R(A, B, C, D)**仅**存在两个函数依赖：AC $\rightarrow$ B和D $\rightarrow$ C。构造关系实例，存在上述函数依赖，但不存在其他函数依赖。（2分）

In [ ]:
%%sql
drop table if exists R;
create table R(A int, B int, C int, D int);

insert into R values ();

6.3 关系R(X, Y, Z)存在3个关系实例：
* 关系实例A
* 关系实例B，仅比关系实例A少一行（其他行相同）
* 关系实例C，仅比关系实例A多一行（其他行相同）

创建关系实例A，B和C，要求关系实例A的每个属性都是key，但关系实例B或C的每个属性都不是key，即key至少是两个属性。如果关系实例B或C无法创建，则提供一个空关系实例。（2分）

In [ ]:
%%sql
drop table if exists A;
create table A (X int, Y int, Z int);

drop table if exists B;

drop table if exists C;

6.4 关系R(X, Y, Z)存在3个关系实例：
* 关系实例A
* 关系实例B，仅比关系实例A少一行（其他行相同）
* 关系实例C，仅比关系实例A多一行（其他行相同）

创建关系实例A，B和C，要求关系实例A存在多值依赖Z $\twoheadrightarrow$ X，但关系实例B和C都不存在该多值依赖。如果关系实例B或C无法创建，则提供一个空关系实例。（2分）

In [ ]:
%%sql
drop table if exists A;
create table A (X int, Y int, Z int);

drop table if exists B;

drop table if exists C;

### 实习感想

收获:-)，疑惑:-|，吐槽:-(，...，你的反馈很重要